


<!-- ======= Hero Section ======= -->
<section id="hero" style="background-image: url(<%= asset_path 'hero-bg.png' %>)">



  <div class="hero-container  row" style="display:flex; flex-direction:row;">

    <div class="col-6 text-center">

      <%= image_tag "suis-je-en-faillite.png", class:"img-fluid"%>

    </div>

    <div class="col-6">

    <h1 class="title-ajouts2">Simulez la santé financière<br> de votre entreprise <br>de façon
      <span
         class="txt-rotate"
         data-period="2000"
         data-rotate='[ "simple.", "sécurisée.", "autonome."]'></span>
    </h1>


    <p >Nous vous proposons une <strong>solution simple</strong> afin de vous éclairer sur la <strong>situation concrète de votre entreprise à l'égard d'une éventuelle situation de cessation des paiements</strong> et de vous informer sur les solutions pouvant être mises en œuvre.</p>

    <% if user_signed_in? && current_user.banques.empty? && current_user.factures.empty? %>
      <a href="<%=new_passif_path%>" class="btn-get-started scrollto">Débuter la simulation</a>
    <% elsif user_signed_in? %>
      <a href="<%=user_path(current_user)%>" class="btn-get-started scrollto">Mon Compte</a>
    <%else%>
      <a href="<%=new_user_registration_path%>" class="btn-get-started scrollto">Simulez l'état financier de votre entreprise</a>
    <%end%>




    </div>

  </div>


</section><!-- End Hero Section -->

<main id="main">

  <!-- ======= Get Started Section ======= -->
  <section id="get-started" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">

        <h2>Une solution simple, pour vous éclairer sur la situation de votre entreprise</h2>
        <p class="separator pt-4 mt-4">Inscrivez-vous gratuitement et accédez à notre simulateur en ligne qui vous permet d'évaluer la date de cessation de paiement de votre entreprise, et être informé sur les solutions pouvant être mises en œuvre</p>

      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="feature-block">

            <%= image_tag "sef1.png", class:"img-fluid"%>

            <h4>Simulation gratuite</h4>
            <p>Inscrivez-vous dès maintenant et accédez gratuitement à notre simulateur en ligne.</p>

          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="feature-block">

            <%= image_tag "sef2.png", class:"img-fluid"%>

            <h4>Simple, intuitif et rapide</h4>
            <p>En 4 étapes, faites un point sur la santé financière de votre entreprise.</p>

          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="feature-block">

            <%= image_tag "sef3.png", class:"img-fluid"%>

            <h4>Conseils personnalisés</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>

          </div>
        </div>

      </div>
    </div>

  </section><!-- End Get Started Section -->


  <!-- ======= Newsletter Section ======= -->
  <section id="newsletter" class="newsletter text-center" style="background: url(<%= asset_path 'sef-5.jpg' %>)no-repeat center center fixed; background-size: cover;">
    <div class="overlay padd-section">
      <div class="container" >



        <div class="row text-right">
          <div class="col-md-9 col-lg-11">

            <h2 >Vous sentez que la santé financière de votre entreprise se tend ? Faisons le point ensemble.</h2>
            <p >Inscrivez-vous gratuitement, et accédez à notre simulateur en ligne. </p>

            <a href="#get-started" class="btn-get-started " >Accédez au simulateur</a>

          </div>
          <div class="col-md-3 col-lg-3">


          </div>
        </div>

      </div>
    </div>


  </section><!-- End Newsletter Section -->



  <!-- ======= About Us Section ======= -->
  <section id="about-us" class="about-us padd-section">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center" style="align-items:center;">

        <div class="col-sm-12 col-md-6 col-lg-6">
          <img src="<%=image_path "faillite.png"%>" alt="About" data-aos="zoom-in" data-aos-delay="100", style="width:70%;">
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="about-content" data-aos="fade-left" data-aos-delay="100">

            <h2>Comment définir la <span>"faillite"</span> </h2>
            <p>Juridiquement, la faillite d'une entreprise est caractérisée lorsque cette dernière se trouve en situation de "cessation des paiements".</p>
            <p>On dit ainsi qu’une société est en faillite lorsque ses actifs disponibles ne sont plus suffisants pour faire face à ses passifs exigibles.</p>
            <p>La détermination de la date de cessation des paiements est le préalable nécessaire pour fixer les mesures de protection de l'entreprise qui peuvent être mises en œuvre.
            </p>

            <ul class="list-unstyled">
              <li><i class="fa fa-angle-right"></i>Définitions légales</li>
              <li><i class="fa fa-angle-right"></i>Référence texuelle</li>
              <li><i class="fa fa-angle-right"></i>Référence textuelle</li>
            </ul>

          </div>
        </div>



        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="about-content" data-aos="fade-left" data-aos-delay="100">

            <h2>Mesurez le risque de faillite de votre entreprise de façon <span>simple, autonome et sécurisée</span></h2>
            <p>Juridiquement, la faillite d'une entreprise est caractérisée lorsque cette dernière se trouve en situation de "cessation des paiements".</p>
            <p>On dit ainsi qu’une société est en faillite lorsque ses actifs disponibles ne sont plus suffisants pour faire face à ses passifs exigibles.</p>
            <p>La détermination de la date de cessation des paiements est le préalable nécessaire pour fixer les mesures de protection de l'entreprise qui peuvent être mises en œuvre.
            </p>

          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6">

          <img src="<%=image_path "suisjeenfaillite.png"%>" alt="About" data-aos="zoom-in" data-aos-delay="100">

          <center>
          <% if user_signed_in? && current_user.banques.empty? && current_user.factures.empty? %>
            <a href="<%=new_passif_path%>" class="btn-get-started scrollto mx-auto" style=";">Débuter la simulation</a>
          <% elsif user_signed_in? %>
            <a href="<%=user_path(current_user)%>" class="btn-get-started scrollto btn-compte" style=";">Mon Compte</a>
          <%else%>
            <a href="<%=new_user_registration_path%>" class="btn-get-started scrollto" style=";">Simulez l'état financier de votre entreprise</a>
          <%end%>
          </center>

        </div>

      </div>
  </section><!-- End About Us Section -->




  <section id="faq" style="background-color:#fcfcfc;">


          <div class="container pb-4">

            <div class="section-title  pt-4 " >
              <p style="color:#71C55D; font-weight:bold;  font-size:25px;">F.A.Q</p>
              <h2>Cet espace vous permet d'accéder aux réponses des questions les plus fréquemment posées.</h2>
            </div>

            <div class="pb-4" >

              <p >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                      magna aliqua.
              </p>

            </div>


          <ul class="faq-list" style="list-style: none;">

            <li  class="headline mb-4">
              <a data-toggle="collapse" href="#faq1" class="collapsed"><i class="fas fa-caret-down mr-3"></i>Qu'est-ce que la "cessation des paiement" ? </a>
              <div id="faq1" class="collapse" >
                <p >
                  La cessation des paiements, ou faillite, se traduit par l'impossibilité de faire face au passif exigible avec son actif disponible (article L 631-1 du Code de commerce).
                </p>
              </div>
            </li>

            <li  class="headline">
              <a class="font20" data-toggle="collapse" class="" href="#faq2"><i class="fas fa-caret-down mr-3"></i> Mon résultat est déficitaire. Suis-je nécessairement en état de cessation des paiements ?</a>
              <div id="faq2" class="collapse show" >
                <p >
                  Non, si le résultat de votre société est défécitaire, cela ne veut pas nécessairement ignifier que vous vous trouvez en état de cessation des paiements. Le résultat correspond à une notion comptable qui intègre des éléments spécifiques (amortissements, provisions…). La cessation de paiement est une notion plus proche de la trésorerie.
                </p>
              </div>
            </li>

            <li  class="headline pt-2">
              <a class="font20" data-toggle="collapse" href="#faq3" class="collapsed"><i class="fas fa-caret-down mr-3"></i> L’administration fiscale m’a adressé des avis d’imposition complémentaire concernant mon activité ce qui me place en situation de cessation des paiements. Je ne suis pas d’accord avec les montants demandés. Est-ce que le Tribunal de Commerce pourra les réviser ?</a>
              <div id="faq3" class="collapse" >
                <p >
                  Non, ce n’est pas de sa compétence. Dans ce cas, il faut engager une procédure sur le plan fiscal (réclamation avec demande de sursis de paiement).
                </p>
              </div>
            </li>


            <li  class="headline pt-3">
              <a class="font20" data-toggle="collapse" href="#faq4" class="collapsed"><i class="fas fa-caret-down mr-3"></i> Dans mon entreprise, j’ai des stocks. Est-ce que je peux les considérer comme des actifs disponibles ? </a>
              <div id="faq4" class="collapse" >
                <p >
                  En principe non, à moins qu’ils soient en cours de vente. Dans ce cas, ce stock peut être considéré comme un actif à très court terme.
                </p>
              </div>
            </li>

            <li  class="headline pt-3">
              <a class="font20" data-toggle="collapse" href="#faq5" class="collapsed"><i class="fas fa-caret-down mr-3"></i> Ma société est propriétaire d’un immeuble. Est-ce un actif disponible ? </a>
              <div id="faq5" class="collapse" >
                <p >
                  Non, des immeubles non encore vendus ne sont pas considérés comme des actifs disponibles. (Com, 27.02.2007, n°06-10-170 P).
                </p>
              </div>
            </li>


            <li  class="headline pt-3">
              <a class="font20" data-toggle="collapse" href="#faq6" class="collapsed"><i class="fas fa-caret-down mr-3"></i> Tempus quam pellentesque nec nam aliquam sem et tortor consequat? </a>
              <div id="faq6" class="collapse" >
                <p >
                  Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                </p>
              </div>
            </li>

          </ul>

          </div>

    </section>




  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="padd-section text-center">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center my-4">

        <div class="col-md-8 my-4">

          <div class="testimonials-content">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

              <div class="carousel-inner" role="listbox">

                <h2>Nos utilisateurs en parlent le mieux</h2>


                <div class="carousel-item  active">
                  <div class="top-top">

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                      specimen book. It has survived not only five centuries.</p>
                    <h4>Kimberly Tran<span>manager</span></h4>

                  </div>
                </div>

                <div class="carousel-item ">
                  <div class="top-top">

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                      specimen book. It has survived not only five centuries.</p>
                    <h4>Henderson<span>manager</span></h4>

                  </div>
                </div>

                <div class="carousel-item ">
                  <div class="top-top">

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                      specimen book. It has survived not only five centuries.</p>
                    <h4>David Spark<span>manager</span></h4>

                  </div>
                </div>

              </div>

              <div class="btm-btm">

                <ul class="list-unstyled carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ul>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Testimonials Section -->





    <!-- ======= Team Section ======= -->
    <section id="team" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

          <h2>Une idée, une équipe, un projet</h2>
          <p class="separator">Integer cursus bibendum augue ac cursus .</p>
        </div>

        <div class="row">

          <div class="col-md-6 col-md-4 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="team-block bottom">
              <img src="assets/img/team/1.jpg" class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <span>manager</span>
                <h4>Gaël</h4>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-md-4 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="team-block bottom">
              <img src="assets/img/team/2.jpg" class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <span>manager</span>
                <h4>Raphaël</h4>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-md-4 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="team-block bottom">
              <img src="assets/img/team/3.jpg" class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <span>manager</span>
                <h4>Léa</h4>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section><!-- End Team Section -->




  <!-- ======= Contact Section ======= -->
  <section id="contact" class="padd-section hero-form">

    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">
        <h2>Vous avez une question ? </h2>
        <p class="separator">Prenez contact avec nous dès maintenant, nous vous recontacterons dans les meilleurs délais. </p>
      </div>

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">



        <div class="col-lg-10 col-md-8">
          <div class="form">

          <%= form_tag url_for(message_index_path(@user)), :message => @message, method: 'post',class:"register-form" do %>
            <div class="row pl-4 pr-4">


              <div class="col-lg-6 my-1">
                <div class="form-group">
                  <%= text_field_tag 'nom', nil, placeholder:"   Nom", class:"form-control icon-user"  %>
                </div>
              </div>

              <div class="col-lg-6 my-1">
                <div class="form-group">
                  <%= text_field_tag 'prenom', nil,placeholder:"   Prénom", class:"form-control icon-user"  %>
                </div>
              </div>


              <div class="col-lg-6 my-1">
                <div class="form-group contact-block1">
                  <%= text_field_tag 'email', nil,placeholder:"   Adresse mail",  class:"form-control icon-mail" %>
                </div>
              </div>


              <div class="col-lg-6 my-1">
                <div class="form-group">
                  <%= text_field_tag 'telephone', nil, placeholder:"   Numéro de téléphone", class:"form-control icon-phone"  %>
                </div>
              </div>



              <div class="col-lg-12 mt-4 ">
                <div class="form-group">
                  <%= text_area_tag 'message', nil, placeholder: '   Votre message', class:"input form-control icon-mail", rows:"8" %>
                </div>
              </div>

              <%= submit_tag "    Envoyer    ", class: "btn-get-started scrollto mb-4", style:"border-radius:20px; margin-top:1em;" %>
              <%end%>

          </div>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->



<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
