
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">


      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">


                <% flash.each do |type, msg| %>
                  <div class="alert alert-info margin-top:100px; " style="z-index:1">
                    <%= msg %>
                  </div>
                <% end %>


          <h2 class="">Suis-je en faillite</h2>
          <p class="animate__animated fanimate__adeInUp">Inscrivez-vous gratuitement et accédez à notre simulateur pour évaluer la date de cessation de paiement et être informé sur les solutions pouvant être mises en œuvre</p>

          <% if user_signed_in? %>
          <%= link_to 'Commencer ma simulation', new_passif_path, class:"btn-get-started " %>
          <%else%>
          <%= link_to 'Réaliser une simulation', new_user_registration_path, class:"btn-get-started" %>
          <%end%>

        </div>
      </div>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title " >
          <h2>Une solution simple, pour vous éclairer sur la situation de votre entreprise</h2>
          <p>Êtes-vous en faillite ? </p>
        </div>

        <div class="row content pt-4" style="display:flex; align-items:center;" >
          <div class="col-sm-12 col-md-12 col-lg-6">

            <p>
              La détermination de la date de cessation des paiements est le préalable nécessaire pour fixer les mesures de protection de l'entreprise qui peuvent être mises en œuvre.
            </p>

            <p>
              Juridiquement, la faillite d'une entreprise est caractérisée quand elle est en situation de "cessation des paiements"
            </p>
            <ul>
              <li><i class="fas fa-check-double"></i> définition légale</li>
              <li><i class="fas fa-check-double"></i> références textuelles</li>
              <li><i class="fas fa-check-double"></i> références textuelles</li>
            </ul>


          </div>

          <div class="col-sm-12 col-md-12 col-lg-6 pt-4 pt-lg-0">

              <%= image_tag "suis-je-en-faillite.jpg" , style:"width:80%;"%>

          </div>


      </div>
    </section><!-- End About Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row" >
          <div class="col-sm-12 col-md-12 col-lg-9 text-center text-lg-left ">
            <h3>Simulez l'état financier de votre entreprise</h3>
            <p class="pt-4"> Nous vous proposons une <strong>solution simple</strong> afin de vous éclairer sur la situation concrète de votre entreprise à l'égard d'une <strong>éventuelle situation de cessation des paiements et de vous informer sur les solutions pouvant être mises en œuvre</strong>.</p>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Inscrivez-vous gratuitement</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">


        <div class="section-title" >
          <h2>Comment ça marche ?</h2>
          <p>Ce que nous vous porposons</p>
        </div>


        <div class="row text-center mt-4" style="display-flex;  ">

          <div class="col-sm-12 col-md-6 col-lg-3 text-center">

            <%= image_tag "inscription.png", style:"width:40%", class:"mb-4"%>
            <p style="color: grey ;">
              Inscrivez-vous gratuitement dès maintenant
            </p>

          </div>


          <div class="col-sm-12 col-md-6 col-lg-3 text-center">
            <%= image_tag "simulation.png", style:"width:40%", class:"mb-4"%>
            <p style="color: grey ;">
            Accédez à notre simulateur en ligne
            </p>
          </div>


          <div class="col-sm-12 col-md-6 col-lg-3 text-center">
            <%= image_tag "etat.png", style:"width:40%", class:"mb-4"%>
            <p style="color: grey ;">
            En quelques clics, déterminez l'état financier de votre entreprise
            </p>
          </div>


          <div class="col-sm-12 col-md-6 col-lg-3 text-center">
            <%= image_tag "conseil.png", style:"width:40% text-center", class:"mb-4"%>
            <p style="color: grey ;">
            Découvrez nos conseils pour...
            </P>
          </div>


        </div>

        <div class="tab-content pt-4 mt-4" >

                <p class="font-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>

        </div>


        <div class="container">

        <ul class="faq-list" style="list-style: none;">

          <li  >
            <a data-toggle="collapse" class="" href="#faq1"><i class="fas fa-caret-down mr-3"></i> Non consectetur a erat nam at lectus urna duis? </a>
            <div id="faq1" class="collapse show" >
              <p class="ml-4 pl-2">
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
              </p>
            </div>
          </li>

          <li  >
            <a data-toggle="collapse" href="#faq2" class="collapsed"><i class="fas fa-caret-down mr-3"></i> Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? </a>
            <div id="faq2" class="collapse" >
              <p class="ml-4 pl-2">
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li  >
            <a data-toggle="collapse" href="#faq3" class="collapsed"><i class="fas fa-caret-down mr-3"></i> Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? </a>
            <div id="faq3" class="collapse" >
              <p class="ml-4 pl-2">
                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
              </p>
            </div>
          </li>

          <li  >
            <a data-toggle="collapse" href="#faq4" class="collapsed"><i class="fas fa-caret-down mr-3"></i> Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?</a>
            <div id="faq4" class="collapse" >
              <p class="ml-4 pl-2">
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li  data-aos-delay="500">
            <a data-toggle="collapse" href="#faq5" class="collapsed"><i class="fas fa-caret-down mr-3"></i> Tempus quam pellentesque nec nam aliquam sem et tortor consequat? </a>
            <div id="faq5" class="collapse" >
              <p class="ml-4 pl-2">
                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
              </p>
            </div>
          </li>

          <li  data-aos-delay="600">
            <a data-toggle="collapse" href="#faq6" class="collapsed"><i class="fas fa-caret-down mr-3"></i> Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? </a>
            <div id="faq6" class="collapse" >
              <p class="ml-4 pl-2">
                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
              </p>
            </div>
          </li>

        </ul>

        </div>


      </div>
    </section><!-- End Features Section -->









    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" >
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4" >
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" >

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->



    <h1>StaticPages#index</h1>
    <p>Find me in app/views/static_pages/index.html.erb</p>


    <ul>
      <% if user_signed_in? %>
        <li>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        </li>

        <li>
          Voici ton email : <%= current_user.email %>
        </li>


        <li>
          <%= link_to "Edit email / password", edit_user_registration_path %>
        </li>


        <br><br><br>
        creer passif : <%= link_to 'creer passif', new_passif_path%>
        <br><br><br>
        creer factures : <%= link_to 'creer passif', new_facture_path%>
        <br><br><br>
        creer banques : <%= link_to 'creer passif', new_banque_path%>

        <br><br><br>
        SIMULATION : <%= link_to 'creer passif', user_banque_index_path(current_user)%>


      <% else %>
        <li>
          <%= link_to "Sign in", new_user_session_path %>
        </li>

        <li>
          <%= link_to "Sign up", new_user_registration_path %>
        </li>

      <% end %>
    </ul>








  </main><!-- End #main -->
