


<!-- ======= Hero Section ======= -->
<section id="hero" style="background-image: url(<%= asset_path 'hero-bg.png' %>)">



  <div class="hero-container  row" style="display:flex; flex-direction:row;">

    <div class="col-md-12 col-lg-5 text-center d-none d-lg-block">

      <%= image_tag "suis-je-en-faillite.png", class:"img-fluid", style:"width:62%;"%>

    </div>

    <div class="col-md-12 col-lg-7 pl-4 ">

    <h1 class="title-ajouts2 pr-4">Procédure collective : êtes-vous 
      <span
         class="green ">en état de cessation des paiements ? Dans une simple difficulté de trésorerie conjoncturelle ? En situation de dépôt de bilan ?</span>
      <!--
      <span
         class="txt-rotate green "
         data-period="2000"
         data-rotate='[ "en état de cessation des paiements ?", "dans une simple difficulté de trésorerie conjoncturelle ?", "en situation de dépôt de bilan ?"]'></span>
        -->
    </h1>


    <p >Obtenez la réponse à cette question grâce à notre outil qui vous présentera aussi les solutions qui s’offrent à vous.</p>

    <% if user_signed_in? && current_user.banques.empty? && current_user.factures.empty? %>
      <a href="<%=new_passif_path%>" class="btn-get-started scrollto">Débuter la simulation</a>
    <% elsif user_signed_in? %>
      <a href="<%=user_path(current_user)%>" class="btn-get-started scrollto">Mon Compte</a>
    <%else%>
      <a href="<%=new_user_registration_path%>" class="btn-get-started scrollto">Je lance l'évaluation</a>
    <%end%>




    </div>

  </div>


</section><!-- End Hero Section -->

<main id="main">

  <!-- ======= Get Started Section ======= -->
  <section id="get-started" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">

        <h2>Une solution simple, pour vous éclairer sur la situation de votre entreprise</h2>
        <p class=" pt-4 mt-4">Inscrivez-vous et accédez à notre outil en ligne qui vous aidera à évaluer si votre entreprise est en état de cessation des paiements. Vous aurez également accès à des informations sur les solutions qui s’offrent à vous.</p>

      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="feature-block">

            <%= image_tag "sef1.png", class:"img-fluid"%>

            <h4>Simulation en ligne</h4>
            <p>Inscrivez-vous dès maintenant et accédez à notre simulateur en ligne dans sa version gratuite.</p>
            <% if user_signed_in? && current_user.banques.empty? && current_user.factures.empty? %>
              <a href="<%=new_passif_path%>" class="btn-get-started scrollto">Débuter la simulation</a>
            <% elsif user_signed_in? %>
              <a href="<%=user_path(current_user)%>" class="btn-get-started scrollto">Mon Compte</a>
            <%else%>
              <a href="<%=new_user_registration_path%>" class="btn-get-started scrollto">Je lance l'évaluation</a>
            <%end%>

          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="feature-block">

            <%= image_tag "sef2.png", class:"img-fluid"%>

            <h4>Simple, intuitif et rapide</h4>
            <p>En seulement 4 étapes, notre outil évalue votre situation, vous oriente et vous informe.</p>
            <% if user_signed_in? && current_user.banques.empty? && current_user.factures.empty? %>
              <a href="<%=new_passif_path%>" class="btn-get-started scrollto">Débuter la simulation</a>
            <% elsif user_signed_in? %>
              <a href="<%=user_path(current_user)%>" class="btn-get-started scrollto">Mon Compte</a>
            <%else%>
              <a href="<%=new_user_registration_path%>" class="btn-get-started scrollto">Je lance l'évaluation</a>
            <%end%>

          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="feature-block">

            <%= image_tag "sef3.png", class:"img-fluid"%>

            <h4>Informations personnalisés</h4>
            <p>A l’issue de l'évaluation, notre outil vous présente les options disponibles et adaptées à votre situation de trésorerie."</p>
            <% if user_signed_in? && current_user.banques.empty? && current_user.factures.empty? %>
              <a href="<%=new_passif_path%>" class="btn-get-started scrollto">Débuter la simulation</a>
            <% elsif user_signed_in? %>
              <a href="<%=user_path(current_user)%>" class="btn-get-started scrollto">Mon Compte</a>
            <%else%>
              <a href="<%=new_user_registration_path%>" class="btn-get-started scrollto">Je lance l'évaluation</a>
            <%end%>

          </div>
        </div>

      </div>
    </div>

  </section><!-- End Get Started Section -->


  <!-- ======= Newsletter Section ======= -->
  <section id="newsletter" class="newsletter text-center" style="background: url(<%= asset_path 'sef-5.jpg' %>)no-repeat center center fixed; background-size: cover;">
    <div class="overlay padd-section">
      <div class="container" >



        <div class="row text-right">
          <div class="col-md-9 col-lg-11">

            <h2 >Est-ce le moment de demander de l’aide au tribunal de commerce ? Faisons le point ensemble.</h2>
            <p class="pt-4">Inscrivez-vous et accédez à notre outil en ligne pour y voir plus clair. </p>

            <a href="#get-started" class="btn-get-started " >Je lance l'évaluation</a>

          </div>
          <div class="col-md-3 col-lg-3">


          </div>
        </div>

      </div>
    </div>


  </section><!-- End Newsletter Section -->



  <!-- ======= About Us Section ======= -->
  <section id="about-us" class="about-us padd-section">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center" style="align-items:center;">

        <div class="col-sm-12 col-md-6 col-lg-6">
          <img src="<%=image_path "faillite.png"%>" alt="About" data-aos="zoom-in" data-aos-delay="100", style="width:70%;">
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="about-content" data-aos="fade-left" data-aos-delay="100">

            <h2>Qu'est-ce que l'état de "cessation des paiements" ?</h2>
            <p>L’article L631-1 du Code de commerce prévoit que « (…) tout débiteur (…) qui est dans l'impossibilité de faire face au passif exigible avec son actif disponible est en cessation des paiements ».</p>
            <p>La détermination de la date de cessation des paiements est le préalable nécessaire pour fixer les mesures de protection de l'entreprise qui peuvent être mises en œuvre.
            </p>

          </div>
        </div>



        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="about-content" data-aos="fade-left" data-aos-delay="100">

            <h2>Identifiez les solutions qui s'ouvrent à vous et anticipez grâce à notre outil</h2>
            <p>Notre outil vous permet de déterminer si votre entreprise est actuellement en situation de cessation des paiements, en fonction des informations que vous saisissez.</p>
            <p>N’hésitez pas à lancer l’outil régulièrement.</p>

          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6">

          <img src="<%=image_path "suisjeenfaillite.png"%>" alt="About" data-aos="zoom-in" data-aos-delay="100">

          <center>
          <% if user_signed_in? && current_user.banques.empty? && current_user.factures.empty? %>
            <a href="<%=new_passif_path%>" class="btn-get-started scrollto mx-auto" style=";">Débuter la simulation</a>
          <% elsif user_signed_in? %>
            <a href="<%=user_path(current_user)%>" class="btn-get-started scrollto btn-compte" style=";">Mon Compte</a>
          <%else%>
            <a href="<%=new_user_registration_path%>" class="btn-get-started scrollto" style=";">Je lance l'évaluation'</a>
          <%end%>
          </center>

        </div>

      </div>
  </section><!-- End About Us Section -->




  <section id="faq" style="background-color:#F8F8F8;">


          <div class="container pb-4">

            <div class="section-title  pt-4 " >
              <p style="color:#71C55D; font-weight:bold;  font-size:25px;">F.A.Q</p>
              <h2>Cet espace vous permet d'accéder aux réponses des questions les plus fréquemment posées.</h2>
            </div>

            <div class="pb-4" >

            </div>


          <ul class="faq-list" style="list-style: none;">

            <li  class="headline mb-4">
              <a data-toggle="collapse" href="#faq1" class="collapsed"><i class="fas fa-caret-down mr-3"></i>Qu'est-ce que la "cessation des paiement" ? </a>
              <div id="faq1" class="collapse" >
                <p >
                  La cessation des paiements se traduit par l'impossibilité de faire face au passif exigible avec son actif disponible (article L 631-1 du Code de commerce).
                </p>
              </div>
            </li>

            <li  class="headline">
              <a class="font20" data-toggle="collapse" class="" href="#faq2"><i class="fas fa-caret-down mr-3"></i> Je n’ai pas déclaré la situation de cessation des paiements de ma SARL dans les 45 jours. <br>Qu’est-ce que je risque ?</a>
              <div id="faq2" class="collapse show" >
                <p >
                  Le défaut de déclaration de cessation des paiements dans le délai légal de quarante-cinq jours (appréciée en fonction de la date de cessation des paiements fixée dans le jugement d’ouverture ou dans un jugement de report) est susceptible de constituer une faute de gestion.
                  <br><br>
                  Or, en cas de faute de gestion ayant contribué à cette insuffisance d'actif, le tribunal peut décider que le montant de cette insuffisance d'actif sera supporté, en tout ou en partie, par tous les dirigeants (article L 651-2 du Code de commerce).
                  <br><br>
                  Par ailleurs, si le tribunal considère que l’omission est volontaire, vous encourrez le prononcé d’une interdiction de gérer (article L. 653-8, al. 3 du Code de commerce).
                </p>
              </div>
            </li>

            <li  class="headline">
              <a class="font20" data-toggle="collapse" class="" href="#faq8"><i class="fas fa-caret-down mr-3"></i> Mon résultat est déficitaire. Suis-je nécessairement en état de cessation des paiements ?</a>
              <div id="faq8" class="collapse " >
                <p >
                  Si le résultat de votre société est déficitaire, vous n'êtes pas nécessairement en état de cessation des paiements. Le résultat correspond en effet à une notion comptable qui intègre des éléments spécifiques (amortissements, provisions…). La cessation des paiements correspond à une approche sous l'angle de la trésorerie.
                </p>
              </div>
            </li>

            <li  class="headline pt-2">
              <a class="font20" data-toggle="collapse" href="#faq3" class="collapsed"><i class="fas fa-caret-down mr-3"></i> L’administration fiscale m’a adressé des avis d’imposition complémentaire concernant mon activité ce qui me place en situation de cessation des paiements. Je ne suis pas d’accord avec les montants demandés. Est-ce que le Tribunal de Commerce pourra les réviser ?</a>
              <div id="faq3" class="collapse" >
                <p >
                  Non, ce n’est pas de sa compétence. Dans ce cas, il faut engager une procédure sur le plan fiscal (réclamation avec demande de sursis de paiement).
                </p>
              </div>
            </li>


            <li  class="headline pt-3">
              <a class="font20" data-toggle="collapse" href="#faq4" class="collapsed"><i class="fas fa-caret-down mr-3"></i> Dans mon entreprise, j’ai des stocks. Est-ce que je peux les considérer comme des actifs disponibles ? </a>
              <div id="faq4" class="collapse" >
                <p >
                  En principe non, à moins qu’ils soient en cours de vente.
                </p>
              </div>
            </li>

            <li  class="headline pt-3">
              <a class="font20" data-toggle="collapse" href="#faq5" class="collapsed"><i class="fas fa-caret-down mr-3"></i> Ma société est propriétaire d’un immeuble. Est-ce un actif disponible ? </a>
              <div id="faq5" class="collapse" >
                <p >
                  Non, des immeubles non encore vendus ne sont pas considérés comme des actifs disponibles. (<a href="https://www.legifrance.gouv.fr/juri/id/JURITEXT000017638049/" target="_blank">Com, 27.02.2007, n°06-10-170 P</a>).
                </p>
              </div>
            </li>


            <li  class="headline pt-3">
              <a class="font20" data-toggle="collapse" href="#faq6" class="collapsed"><i class="fas fa-caret-down mr-3"></i> A quoi servent les données que je suis invité à saisir  sur suisjeenfaillite.fr ?
 </a>
              <div id="faq6" class="collapse" >
                <p >
                  Les données saisies permettent à notre logiciel de déterminer si votre société est en situation de cessation des paiements. En effet en droit français, le dirigeant d'une entreprise qui ne peut plus faire face à ses dettes doit la placer en procédure collective en constatant sa cessation des paiements. La société est dans l'incapacité de faire face au passif exigible avec l'actif disponible. La situation peut être rattrapée, avant que la société ne soit en "faillite".
                </p>
              </div>
            </li>

            <li  class="headline pt-3">
              <a class="font20" data-toggle="collapse" href="#faq7" class="collapsed"><i class="fas fa-caret-down mr-3"></i> Comment ces données seront-elles traitées, stockées ? </a>
              <div id="faq7" class="collapse" >
                <p >
                  Les données sont stockées sur des serveurs [préciser selon que l'on prenne OVH, AWS, Infomaniak, etc], et traitées dans le respect des dispositions du Règlement Général sur la Protection des Données (RGPD). Votre utilisation du site implique votre consentement exprès à ce que les données que vous saisissez soient partagées avec des tiers, à titre gracieux ou payant, ce qui permet de financer le site et ouvre la possibilité pour que nos partenaires vous contactent [à moduler selon accès payant = pas de cession des données à des tiers ? Accès gratuit = données communiquées à des tiers ?]
                </p>
              </div>
            </li>

          </ul>

          </div>

    </section>




  <!-- ======= Testimonials Section ======= -->
  <!--
  <section id="testimonials" class="padd-section text-center">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center my-4">

        <div class="col-md-8 my-4">

          <div class="testimonials-content">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

              <div class="carousel-inner" role="listbox">

                <h2>Nos utilisateurs en parlent le mieux</h2>


                <div class="carousel-item  active">
                  <div class="top-top">

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                      specimen book. It has survived not only five centuries.</p>
                    <h4>Kimberly Tran<span>manager</span></h4>

                  </div>
                </div>

                <div class="carousel-item ">
                  <div class="top-top">

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                      specimen book. It has survived not only five centuries.</p>
                    <h4>Henderson<span>manager</span></h4>

                  </div>
                </div>

                <div class="carousel-item ">
                  <div class="top-top">

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                      specimen book. It has survived not only five centuries.</p>
                    <h4>David Spark<span>manager</span></h4>

                  </div>
                </div>

              </div>

              <div class="btm-btm">

                <ul class="list-unstyled carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ul>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Testimonials Section -->





    <!-- ======= Team Section ======= -->
    <section id="team" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

          <h2>Une idée, une équipe, un projet</h2>

        </div>

        <div class="row" style="justify-content:center; align-items:center;">

          <div class="col-sm-12 col-md-6 col-lg-6" data-aos="zoom-in" data-aos-delay="100">
              <img src="assets/img/team/1.jpg" class="img-responsive" alt="img">
          </div>


          <div class="col-sm-12 col-md-6 col-lg-6 mb-4"> <p class="separator pt-4 mt-4">Gaël est avocat fiscaliste, inscrit au barreau de Paris depuis juin 2012. Avant cela il a été Directeur Fiscal de l’Association Nationale d’Assistance Administrative et Fiscale des Avocats (ANAAFA) pendant 6 ans. Il assiste les entreprises dans le traitement de questions fiscales variées (contentieux, conseil et suivi déclaratif), et a souvent l'occasion de constater que les dirigeants d'entreprise ne sont pas conscients de l'éventail des possibilités qui s'offrent à eux si la situation de cessation des paiements de leur entreprise est constatée à temps. Il a décidé de créer SEF après avoir développé les formules qui servent encore aujourd'hui de base au logiciel "SEF".
          </div>

          <div class="col-sm-12 col-md-6 col-lg-6 my-4" > <p class="separator pt-4 mt-4">
          Raphaël est avocat d'affaires depuis décembre 2000, inscrit au barreau de Paris. Il conseille des sociétés dans le cadre de leurs problématiques commerciales et contractuelles, avec un accent sur les questions de propriété intellectuelle et celles liées aux nouvelles technologies (données personnelles, données financières, logiciels, cybersécurité). Il a participé en tant que conseil et associé fondateur a plusieurs aventures entrepreneuriales construites sur un modèle SaaS et n'a pas hésité un instant à rejoindre Gaël dans l'aventure quand ce dernier lui a exposé les principes fondateurs de SEF.
          </p>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-6 my-4" data-aos="zoom-in" data-aos-delay="200">
              <img src="assets/img/team/2.jpg" class="img-responsive" alt="img">
          </div>

          <div class="col-sm-12 col-md-6 col-lg-6 my-4" data-aos="zoom-in" data-aos-delay="300">
              <img src="assets/img/team/3.jpg" class="img-responsive" alt="img">
          </div>

          <div class="col-sm-12 col-md-6 col-lg-6 my-4" ><p class="separator pt-4 mt-4">
          Léa est chargée de communication digitale apporte son expertise web, de programmation et de data scientist à SEF.</p>
          </div>

        </div>


      </div>
    </section><!-- End Team Section -->




  <!-- ======= Contact Section ======= -->
  <section id="contact" class="padd-section hero-form">

    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">
        <h2>Vous avez une question ? </h2>
        <p class="separator text-center">Prenez contact avec nous dès maintenant, nous vous recontacterons dans les meilleurs délais. </p>
      </div>

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">



        <div class="col-lg-10 col-md-8">
          <div class="form">

          <%= form_tag url_for(message_index_path(@user)), :message => @message, method: 'post',class:"register-form" do %>
            <div class="row pl-4 pr-4">


              <div class="col-lg-6 my-1">
                <div class="form-group">
                  <%= text_field_tag 'nom', nil, placeholder:"   Nom", class:"form-control icon-user"  %>
                </div>
              </div>

              <div class="col-lg-6 my-1">
                <div class="form-group">
                  <%= text_field_tag 'prenom', nil,placeholder:"   Prénom", class:"form-control icon-user"  %>
                </div>
              </div>


              <div class="col-lg-6 my-1">
                <div class="form-group contact-block1">
                  <%= text_field_tag 'email', nil,placeholder:"   Adresse mail",  class:"form-control icon-mail" %>
                </div>
              </div>


              <div class="col-lg-6 my-1">
                <div class="form-group">
                  <%= text_field_tag 'telephone', nil, placeholder:"   Numéro de téléphone", class:"form-control icon-phone"  %>
                </div>
              </div>



              <div class="col-lg-12 mt-4 ">
                <div class="form-group">
                  <%= text_area_tag 'message', nil, placeholder: '   Votre message', class:"input form-control icon-mail", rows:"8" %>
                </div>
              </div>

              <%= submit_tag "    Envoyer    ", class: "btn-get-started scrollto mb-4", style:"border-radius:20px; margin-top:1em;" %>
              <%end%>

          </div>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->



<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
