
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-left">

    <div class="hero-one"></div>
    <div class="hero-two"></div>

    <div id="heroCarousel" class="container carousel " style="z-index:1;">


      <!-- Slide 1 -->
      <div class="carousel-item active" >
        <div class="carousel-container">


                <% flash.each do |type, msg| %>
                  <div class="alert alert-info margin-top:100px; " style="z-index:1">
                    <%= msg %>
                  </div>
                <% end %>


          <h2 class="text-right">Suis-je en faillite ?</h2>



          <% if user_signed_in? && current_user.banques.empty? && current_user.factures.empty? %>

          <p class="">Accédez dès maintenant à notre simulateur en ligne !</p>

          <div class="portfolio-experiment">
            <a href="<%=new_passif_path%>">
              <span class="text2">Commencer la Simulation</span>
              <span class="line -right"></span>
              <span class="line -top"></span>
              <span class="line -left"></span>
              <span class="line -bottom"></span>
            </a>
          </div>
          <%- #<%= link_to 'Commencer la simulation', new_passif_path, class:"btn  ", style:"font-size:20px"-%>


          <% elsif user_signed_in? %>

          <p>Accédez dès maintenant à votre simulation !</p>


          <div class="portfolio-experiment">
            <a href="<%=user_path(current_user)%>">
              <span class="text2">Ma Simulation</span>
              <span class="line -right"></span>
              <span class="line -top"></span>
              <span class="line -left"></span>
              <span class="line -bottom"></span>
            </a>
          </div>
          <%-# commented line <%= link_to 'Ma simulation', user_path(current_user), class:"btn ", style:"font-size:20px" -%>

          <%else%>

          <p>Inscrivez-vous gratuitement et accédez à notre <strong>simulateur en ligne</strong> qui vous permet d'<strong>évaluer la date de cessation de paiement de votre entreprise</strong>, et être informé sur les solutions pouvant être mises en œuvre</p>

<!--<span class="underline--magical"> -->

          <div class="portfolio-experiment">
            <a href="<%=new_user_registration_path%>">
              <span class="text2">Accéder au simulateur</span>
              <span class="line -right"></span>
              <span class="line -top"></span>
              <span class="line -left"></span>
              <span class="line -bottom"></span>
            </a>
          </div>

          <%end%>

        </div>
      </div>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="5" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title " >
          <h2>Une solution simple, pour vous éclairer sur la situation de votre entreprise</h2>
          <p>Êtes-vous en faillite ? </p>
        </div>

        <div class="row content pt-4" style="display:flex; align-items:center;" >
          <div class="col-sm-12 col-md-12 col-lg-6">

            <p>
              La détermination de la date de cessation des paiements est le préalable nécessaire pour fixer les mesures de protection de l'entreprise qui peuvent être mises en œuvre.
            </p>

            <p>
              Juridiquement, la faillite d'une entreprise est caractérisée quand elle est en situation de "cessation des paiements".
            </p>
            <ul>
              <li><i class="fas fa-check-double"></i> définition légale</li>
              <li><i class="fas fa-check-double"></i> références textuelles</li>
              <li><i class="fas fa-check-double"></i> références textuelles</li>
            </ul>


          </div>

          <div class="col-sm-12 col-md-12 col-lg-6 pt-4 pt-lg-0">

              <%= image_tag "suis-je-en-faillite.jpg" , style:"width:80%;"%>

          </div>


      </div>



      </div>


    </section><!-- End About Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta" >
      <div class="container">

        <div class="row" >
          <div class="col-sm-12 col-md-12 col-lg-9 text-center text-lg-left ">
            <h3>Simulez l'état financier de votre entreprise</h3>
            <p class="pt-4 mt-4"> Nous vous proposons une <strong>solution simple</strong> afin de vous éclairer sur la situation concrète de votre entreprise à l'égard d'une <strong>éventuelle situation de cessation des paiements et de vous informer sur les solutions pouvant être mises en œuvre</strong>.</p>

          </div>
          <div class="col-sm-12 col-md-12 col-lg-3 cta-btn-container text-center">
            <div class="portfolio-experiment">
              <a href="<%=new_user_registration_path%>">
                <span class="text">Inscrivez-vous gratuitement</span>
                <span class="line -right"></span>
                <span class="line -top"></span>
                <span class="line -left"></span>
                <span class="line -bottom"></span>
              </a>
            </div>
            <!--<a class="cta-btn align-middle" >Inscrivez-vous gratuitement</a>-->
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">


        <div class="section-title" >
          <h2>Comment ça marche ?</h2>
          <p>Ce que nous vous proposons</p>
        </div>



        <p class="pt-4"> Nous vous proposons une <strong>solution simple</strong> afin de vous éclairer sur la situation concrète de votre entreprise à l'égard d'une <strong>éventuelle situation de cessation des paiements et de vous informer sur les solutions pouvant être mises en œuvre</strong>.</p>



        <div class="row text-center mt-4" style="display-flex;  ">

          <div class="col-sm-12 col-md-6 col-lg-4 text-center">

            <%= image_tag "1.png", style:"width:46%", class:"mb-4"%>
            <p style="color: grey ;">
              Inscrivez-vous gratuitement dès maintenant et accédez à notre simulateur en ligne.
            </p>

          </div>


          <div class="col-sm-12 col-md-6 col-lg-4 text-center">
            <%= image_tag "2.png", style:"width:46%", class:"mb-4"%>
            <p style="color: grey ;">
              En quelques clics, faites un point sur la santé financière de votre entreprise.
            </p>
          </div>


          <div class="col-sm-12 col-md-6 col-lg-4 text-center">
            <%= image_tag "3.png", style:"width:46%", class:"mb-4"%>
            <p style="color: grey;">
            Découvrez nos conseils personnalisés...
            </p>
          </div>


        </div>

      </div>
</section><!-- End Features Section -->


<section style="background-color:#fcfcfc;">
        <div class="container">


          <div class="tab-content my-4" >

                  <p class=" pl-4 ml-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>

          </div>


        <ul class="faq-list" style="list-style: none;">

          <li  >
            <a data-toggle="collapse" class="" href="#faq1"><i class="fas fa-caret-down mr-3"></i> Non consectetur a erat nam at lectus urna duis? </a>
            <div id="faq1" class="collapse show" >
              <p >
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
              </p>
            </div>
          </li>

          <li  >
            <a data-toggle="collapse" href="#faq2" class="collapsed"><i class="fas fa-caret-down mr-3"></i> Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? </a>
            <div id="faq2" class="collapse" >
              <p >
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li  >
            <a data-toggle="collapse" href="#faq3" class="collapsed"><i class="fas fa-caret-down mr-3"></i> Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? </a>
            <div id="faq3" class="collapse" >
              <p >
                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
              </p>
            </div>
          </li>

          <li  >
            <a data-toggle="collapse" href="#faq4" class="collapsed"><i class="fas fa-caret-down mr-3"></i> Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?</a>
            <div id="faq4" class="collapse" >
              <p >
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li  data-aos-delay="500">
            <a data-toggle="collapse" href="#faq5" class="collapsed"><i class="fas fa-caret-down mr-3"></i> Tempus quam pellentesque nec nam aliquam sem et tortor consequat? </a>
            <div id="faq5" class="collapse" >
              <p >
                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
              </p>
            </div>
          </li>

          <li  data-aos-delay="600">
            <a data-toggle="collapse" href="#faq6" class="collapsed"><i class="fas fa-caret-down mr-3"></i> Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? </a>
            <div id="faq6" class="collapse" >
              <p >
                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
              </p>
            </div>
          </li>

        </ul>

        </div>

  </section>







    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" >
          <h2>Contact</h2>
          <p>Contactez-nous</p>
        </div>


              <section>
              <div class="container ">
              <%= form_tag url_for(message_index_path(@user)), :message => @message, method: 'post',class:"register-form" do %>
                <div class="row pl-4 pr-4">


                  <div class="col-lg-6 my-4">
                    <div class="form-group">
                      <label><i class="fas fa-user opacity-80"></i></label>
                      <%= text_field_tag 'nom', nil, placeholder:"Nom", class:"input"  %>
                    </div>
                  </div>

                  <div class="col-lg-6 my-4">
                    <div class="form-group">
                      <label><i class="fas fa-user opacity-80"></i></label>
                      <%= text_field_tag 'prenom', nil,placeholder:"Prénom", class:"input"  %>
                    </div>
                  </div>


                  <div class="col-lg-6 my-4">
                    <div class="form-group contact-block1">
                      <label><i class="far fa-envelope opacity-80"></i></label>
                      <%= text_field_tag 'email', nil,placeholder:"Adresse mail",  class:"input" %>
                    </div>
                  </div>


                  <div class="col-lg-6 my-4">
                    <div class="form-group">
                      <label><i class="fas fa-phone opacity-80"></i></label>
                      <%= text_field_tag 'telephone', nil, placeholder:"Numéro de téléphone", class:"input"  %>
                    </div>
                  </div>



                  <div class="col-lg-12 my-4">
                    <div class="form-group">
                      <label><i class="far fa-envelope opacity-80"></i></label>
                      <%= text_field_tag 'message', nil, placeholder: 'Votre message', class:"input"  %>
                    </div>
                  </div>


                  <div class="col-lg-3 mt-2 text-right ">
                    <div class="portfolio-experiment">
                      <button type="submit" name="your_name" value="your_value" class="text">
                        <span class="text2">Envoyer</span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span>
                      </button>
                    </div>
                  </div>

                  <%end%>

                </div>
                </section>






  </main><!-- End #main -->


  <script>

    var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}

</script>
