
<div class="registration-form pt-4">

  <div class="container sign-up-form pb-4 mt-4">

    <div class="py-4 my-4 row">

      <div class="col-6">


        <%= image_tag "Statistics-pana.png" , style:"width:100%;"%>


        <div class="container" style=" overflow-y: scroll; height:4em;; width: auto;     scrollbar-face-color: #006400; margin-top:-2em;">


            <table style="width:100%;">
                <thead>
                    <tr>
                        <th colspan="2">  <span style="color:#ef6737; font-weight:bold;" >Derniers ajouts :</span> </th>
                    </tr>
                </thead>
                <tbody>
                  <% @factures.each do |t| %>

                    <tr>
                        <td ><%=  t.libelle %></td>
                        <td class="text-left"><%=  t.facture_montant %> €</td>
                    </tr>

                  <%end%>
                </tbody>
            </table>

            <span style="color:#ef6737; font-weight:bold; mr-4" >Total des factures :</span> <%= @factures.sum("facture_montant")%> €

        </div>


      </div>

      <div class="col-6 ">

          <h2 class="col-12 text-center mb-4 pb-4">Factures</h2>


            <% flash.each do |type, msg| %>
              <div class="alert alert-info margin-top:100px; " style="z-index:1">
                <%= msg %>
              </div>
            <% end %>


          <%= form_tag url_for(facture_index_path(@user.id)), :facture => @facture, method: 'post' do %>

            <div class='row'>

              <div class="col-lg-12">
                <div class="form-group contact-block1">
                  <%= text_field_tag 'libelle', nil, placeholder: 'libelle', class:"form-control" %>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <%= text_field_tag 'facture_montant', nil, placeholder: 'facture_montant', class:"form-control" %>
                </div>
              </div>


              <div class="col-lg-12 mt-4 text-right">
                <%= submit_tag "    Ajouter    ", class: "btn ", style:"border-radius:20px;" %>
                <%end%>
              </div>

              <div class="col-lg-12 mt-4 pt-2">
                <p style="font-size:12px;">Veuillez ajouter <strong>la somme totale de vos factures clients à venir</strong>, ou bien, veuillez ajouter vos <strong>différentes factures clientes à venir l'une après l'autre</strong>. Une fois terminé, veuillez passer à l'étape suivante. </p>
              </div>

              <div class="col-lg-12 mt-4 pt-4">
                <%= link_to "Etape suivante", new_banque_path, class:"btn btn-form" %>
              </div>

              <div class="col-lg-12 mt-4 pt-4 text-right">
                <span style="font-size:12px;">Etape 2/3</span>
              </div>


        </div>


        </div>

        </div>

      </div>

    </div>
