<div class="container card card-body registration-form" >
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <h2 class="title"> Modifier le passif</h2>
      <%= form_tag url_for(action: 'update'), method: "put", multipart: true do %>

      <div class="row">
        <div class="col-6">
          <%= label_tag 'Salairest' %>
          <%= text_field_tag 'salaires', @passif.salaires, class: "form-control datetimepicker" %>
          <br /> <br />
        </div>
        <div class="col-6">
          <%= label_tag 'Charges' %>
          <%= text_field_tag 'charges', @passif.charges, class: "form-control datetimepicker" %>
          <br /> <br />
        </div>
      </div>

      <%= label_tag 'Loyers' %>
      <%= text_field_tag 'loyers', @passif.loyers, class: "form-control"%>
      <br /> <br />

      <%= label_tag 'echeances' %>
      <%= text_field_tag 'echeances', @passif.echeances, class: "form-control"%>
      <br /> <br />

      <%= label_tag 'dette fiscale' %>
      <%= text_field_tag 'dette_fiscale', @passif.dette_fiscale, class: "form-control"%>
      <br /> <br />

      <%= label_tag 'dette fournisseur' %>
      <%= text_field_tag 'dette_fournisseur', @passif.dette_fournisseur, class: "form-control"%>
      <br /> <br />



      <br /> <br />

      <center><%= submit_tag "Valider la reservation", class:"btn btn-outline-primary" %></center>
      <% end %>

    </div>
  </div>
</div>
