
<div class="registration-form pt-4">

  <div class="container sign-up-form mt-4">

    <div class="py-4 my-4 row">

      <div class="col-6">


        <%= image_tag "Statistics-pana.png" , style:"width:100%;"%>


      </div>

      <div class="col-6 ">

          <h2 class="col-12 text-center mb-4 pb-4">Passif</h2>


          <%= form_tag url_for(passif_index_path(@user.id)), :passif => @passif, method: 'post' do %>

            <div class='row' style="display:flex;align-items:center;">


              <div class="col-lg-11">
                <div class="form-group contact-block1">

                  <%= text_field_tag 'salaires', nil, placeholder: 'Salaires', class:"form-control" %>

                </div>
              </div>
              <div class="col-1">
                <i class="fas fa-question-circle" data-toggle="tooltip" title="bla bla bla!"></i>
              </div>



              <div class="col-lg-11">
                <div class="form-group">
                  <%= text_field_tag 'charges', nil, placeholder: 'charges', class:"form-control" %>
                </div>
              </div>
              <div class="col-1">
                <i class="fas fa-question-circle" data-toggle="tooltip" title="bla bla bla!"></i>
              </div>

              <div class="col-lg-11">
                <div class="form-group">
                  <%= text_field_tag 'loyers', nil, placeholder: 'Loyers', class:"form-control" %>
                </div>
              </div>
              <div class="col-1">
                <i class="fas fa-question-circle" data-toggle="tooltip" title="bla bla bla!"></i>
              </div>

              <div class="col-lg-11">
                <div class="form-group">
                  <%= text_field_tag 'echeances', nil, placeholder: 'Echeances', class:"form-control" %>
                </div>
              </div>
              <div class="col-1">
                <i class="fas fa-question-circle" data-toggle="tooltip" title="bla bla bla!"></i>
              </div>

              <div class="col-lg-11">
                <div class="form-group contact-block1">
                  <%= text_field_tag 'dette_fiscale', nil, placeholder: 'Dette fiscale', class:"form-control" %>
                </div>
              </div>
              <div class="col-1">
                <i class="fas fa-question-circle" data-toggle="tooltip" title="bla bla bla!"></i>
              </div>

              <div class="col-lg-11">
                <div class="form-group contact-block1">
                  <%= text_field_tag 'dette_fournisseur', nil, placeholder: 'Dette fournisseur', class:"form-control" %>
                </div>
              </div>
              <div class="col-1">
                <i class="fas fa-question-circle" data-toggle="tooltip" title="bla bla bla!"></i>
              </div>


              <div class="col-lg-12 mt-4">
                <%= submit_tag "    Etape suivante    ", class: "btn btn-form", style:"border-radius:20px;" %>
                <%end%>
              </div>

              <div class="col-lg-12 mt-4 pt-4">
                <span style="font-size:12px;">Etape 1/3</span>
              </div>



        </div>



        </div>

        </div>

      </div>

    </div>

    <script>

      (function () {
        ('[data-toggle="tooltip"]').tooltip()
      })

    </script>
