
<div class="registration-form pt-4 my-4" style="display:flex;justify-content:center;">

  <div class="container sign-up-form my-4" >


    <h2 class="col-12 text-center py-4 mt-4 mb-3">Passif exigible</h2>


        <%= form_tag url_for(passif_index_path(@user.id)), :passif => @passif, method: 'post' do %>


      <div class=" row my-3 ">


        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 my-3">

              <div class="col-lg-12 my-3">
                <div class="form-group contact-block1 pb-4">
                  Salaires : <span class="exemple">Salaires brut des employés non payés à échéance.</span>
                  <label><i class="fas fa-euro-sign opacity-80"></i></label>
                  <%= text_field_tag 'salaires', nil, class:" input" %>
                </div>
              </div>



              <div class="col-lg-12 my-3 pb-4">
                 Charges : <span class="exemple">Par exemple : charges sociales patronales, charges sociales non salariées… non payées à échéance.</span>
                <div class="form-group">
                   <label><i class="fas fa-euro-sign opacity-80"></i></label>
                  <%= text_field_tag 'charges', nil, class:"input"%>
                </div>
              </div>


              <div class="col-lg-12 my-3 pb-4">
                Mensualités d'emprunts : <span class="exemple">Mensualités non payées à échéance (sauf accord préalable de l’organisme bancaire)</span>
                <div class="form-group">
                  <label><i class="fas fa-euro-sign opacity-80"></i></label>
                  <%= text_field_tag 'echeances', nil,  class:"input"  %>
                </div>
              </div>



        </div>



          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 my-3">


            <div class="col-lg-12 my-3 pb-4">
              Loyers : <span class="exemple">Par exemple : </span>
              <div class="form-group ">
                <label><i class="fas fa-euro-sign opacity-80"></i></label>
                <%= text_field_tag 'loyers', nil,  class:"input"  %>
              </div>
            </div>


              <div class="col-lg-12 my-3 pb-4">
                Dettes Fiscales : <span class="exemple">Dettes non payées à échéances (sauf échéancier convenu avec l’administration ou contestation de la dette fiscale).</span>
                <div class="form-group contact-block1">
                  <label><i class="fas fa-euro-sign opacity-80"></i></label>
                  <%= text_field_tag 'dette_fiscale', nil, class:"input"  %>
                </div>
              </div>


              <div class="col-lg-12 my-3 pb-4 ">
                Dettes Fournisseurs : <span class="exemple">Dettes non payées à échéances (sauf accord des fournisseurs).</span>
                <div class="form-group contact-block1 ">
                  <label><i class="fas fa-euro-sign opacity-80 pt-2"></i></label>
                  <%= text_field_tag 'dette_fournisseur', nil, class:"input"  %>
                </div>
              </div>


              <div class="col-lg-12 mt-4">
                <%= submit_tag "    Etape suivante    ", class: "btn btn-form", style:"border-radius:20px;" %>
                <%end%>
              </div>

              <div class="col-lg-12 mt-4  text-right">
                <span style="font-size:12px;">Etape 1/4</span>
              </div>


          </div>


        </div>


      </div>

</div>
