
<div class="main hero-form" style="background-image: url(<%= asset_path 'hero-bg.png' %>)">


  <div class=" row" style="display:flex;align-items:center;">


    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6 d-none d-md-block">
      <div class="text-center">
        <%= image_tag "login.jpg" , style:"width:60%;"%>
      </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">


      <section class="signup registration-form pr-4">

        <div class="container mx-4 px-2">
          <div class="signup-content ">


            <h2 class="form-title mb-4">Inscription</h2>


            <%= form_for(resource, as: resource_name, url: registration_path(resource_name),class:"register-form") do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>


          <div class="row  mt-2">

            <div class="col-5">

              <div class="form-group">

                <%= f.radio_button :is_societe, '1', :checked => true %>

                <label for="agree-term" class="label label-agree-term"><span><span></span></span>Inscription en tant que <strong>société</strong></label>
              </div>

            </div>



            <div class="col-7">

              <div class="form-group ">
                <%= f.radio_button :is_societe, '0', class:" label-agree-term", id:"agree-term"  %>
                <label for="agree-term" class="label-agree-term"><span><span></span></span>Inscription en tant que <strong>personne physique</strong></label>
              </div>

            </div>

          </div>


          <div class="form-group">
            <%= f.email_field :email, autofocus: true , class:"form-control icon-mail", placeholder: "Email"%>
          </div>

          <div class="form-group my-4 py-2">
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control icon-block", placeholder: "Mot de passe" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control icon-block", placeholder: "Confirmation mot de passe"%>
          </div>


            <div class="form-group">
              <%= f.check_box :regle1, id:"agree-term", class:"agree-term"%>
              <label for="agree-term" class="label-agree-term"><span><span></span></span>J'accepte.... <span  class="term-service" data-toggle="modal" data-target="#exampleModal1">Terms of service</span></label>
              <br>
              <%= f.check_box :regle2, id:"agree-term", class:"agree-term"%>
              <label for="agree-term" class="label-agree-term"><span><span></span></span>J'accepte...</label>
            </div>


            <%= f.submit "Valider", class:"btn-get-started scrollto mt-2 " %>
            <% end %>

            <%= render "devise/shared/links" %>




          </div>
        </div>

      </section>

    </div>

  </div>

</div>




<!-- Modal Facture -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style='height:100vh;'>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">        En me connectant sur ce site,  j’ai compris et j’accepte que :</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">




      <p>• ce site permet d’apprécier les éléments pris en compte pour la cessation de paiement.</p>

      <p>• Les éléments (bancaires, financiers, comptables…) que je suis invité à compléter sur le site ne sont toutefois pas limitatifs. Une adaptation en fonction des particularités de chaque activité est bien entendu possible, voire souhaitable.</p>

      <p>•  En fonction de ces éléments enregistrés, sur lesquels le site n’effectue aucune vérification de cohérence, un calcul est mis en œuvre pour déterminer la présence ou non d’une suspicion de cessation de paiement.</p>

      <p>•  Bien entendu, cette première approche n’est pas suffisante pour arrêter définitivement une position sur mon entreprise. Il conviendra de se rapprocher d’un professionnel pour étudier, de manière approfondie, ma situation avant d’envisager toutes démarches administratives ou juridiques.</p>

      <p>•  En aucun cas, la responsabilité des personnes en charge du site ne pourra être engagée du fait du résultat du calcul délivré ou des prises de décision qui auront pu être arrêtées sur la base de ces résultats.</p>





      </div>

    </div>
  </div>
</div>
