
<div class="registration-form pt-4">

  <div class="container sign-up-form ">

    <div class="py-4 my-4 row">

      <div class="col-6">


        <%= image_tag "Statistics-pana.png" , style:"width:100%;"%>
        <div class="col-12">
          <p style="color:grey; font-size:12px;"><i> * Rajouter une mention RGPD de collecte de consentement informant l'utilisateur sur ce qu'on va faire de ses données personnelles ; il faudrait ajouter une case à cocher marquant le consentement.</i></p>
        </div>


      </div>

      <div class="col-6 ">

          <h2 class="col-12 text-center mb-4 pb-4">Sign up</h2>


            <% flash.each do |type, msg| %>
              <div class="alert alert-info margin-top:100px; " style="z-index:1">
                <%= msg %>
              </div>
            <% end %>


          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class='row'>
            <div class="field col-6">
            <%= f.text_field :last_name, class:"form-control", placeholder: "Nom"%><br>
            </div>
            <div class=" field col-6">
              <%= f.text_field :first_name, class:"form-control", placeholder: "Prénom"%><br>
            </div>
            <div class="field col-6">
              <%= f.text_field :phone_number, class:"form-control", placeholder: "Numéro de téléphone"%><br>
            </div>
            <div class="field col-6">
            <%= f.text_field :entreprise_name, class:"form-control", placeholder: "Entreprise"%><br>
            </div>
            <div class="field col-12">
              <%= f.email_field :email, autofocus: true , class:"form-control", placeholder: "Email"%>
            </div><br>

            <div class="field col-12 pt-4 mt-4 mt-2">
              <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder: "Mot de passe" %>
            </div><br>

              <div class="field col-12 pt-2">
              <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control", placeholder: "Confirmation mot de passe"%>
            </div>
            <br>

            <div class="actions col-12">
              <%= f.submit "Sign up", class:"btn btn-form mt-4" %>
              <% end %>

              <%= render "devise/shared/links" %>
            </div>
        </div>


        </div>

        </div>

      </div>

    </div>
