



<div class="main ">


  <div class="row" style="display:flex;align-items:center;">



    <div class="col-5">
      <div class="text-center">
        <%= image_tag "login.jpg" , style:"width:80%;"%>
      </div>
    </div>


    <div class="col-7">


      <section class="signup registration-form">

        <div class="container mx-4 px-4">
          <div class="signup-content ">


            <h2 class="form-title my-4">Inscription</h2>


            <%= form_for(resource, as: resource_name, url: registration_path(resource_name),class:"register-form") do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>


          <div class="row  mt-2">

            <div class="col-6">

              <div class="form-group">

                <%= f.radio_button :is_societe, '1', :checked => true, class:"label-agree-term", id:"agree-term" %>

                <label for="agree-term" class="label label-agree-term"><span><span></span></span>Inscription en tant que <strong>société</strong></label>
              </div>

            </div>



            <div class="col-6">

              <div class="form-group ">
                <%= f.radio_button :is_societe, '0', class:" label-agree-term", id:"agree-term"  %>
                <label for="agree-term" class="label-agree-term"><span><span></span></span>Inscription en tant que <strong>personne physique</strong></label>
              </div>

            </div>

          </div>


          <div class="form-group">
            <label><i class="far fa-envelope opacity-80"></i></label>
            <%= f.email_field :email, autofocus: true , class:"form-control", placeholder: "Email",  class:"input"%>
          </div>

          <div class="form-group">
            <label><i class="fas fa-unlock opacity-80"></i></label>
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder: "Mot de passe",  class:"input" %>
          </div>

          <div class="form-group">
            <label><i class="fas fa-lock opacity-80"></i></label>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control", placeholder: "Confirmation mot de passe",  class:"input"%>
          </div>


            <div class="form-group">
              <%= f.check_box :regle1, id:"agree-term", class:"agree-term"%>
              <label for="agree-term" class="label-agree-term"><span><span></span></span>J'accepte.... <a href="#" class="term-service">Terms of service</a></label>
              <br>
              <%= f.check_box :regle2, id:"agree-term", class:"agree-term"%>
              <label for="agree-term" class="label-agree-term"><span><span></span></span>J'accepte...</label>
            </div>


            <%= f.submit "Valider", class:"btn btn-form mt-2" %>
            <% end %>

            <%= render "devise/shared/links" %>




          </div>
        </div>

      </section>

    </div>

  </div>

</div>



<script type="text/javascript">

function GereChkbox() {

if(document.getElementById("checkbox1").checked)
{
document.getElementById("checkbox2").disabled = "disabled";
document.getElementById("checkbox1").disabled = "";
}
else if(document.getElementById("checkbox2").checked)
{
document.getElementById("checkbox1").disabled = "disabled";
document.getElementById("checkbox2").disabled = "";
}
else {

document.getElementById("checkbox1").disabled = "";
document.getElementById("checkbox2").disabled = "";
}

}
</script>
