
<div class="registration-form pt-4 hero-form" style="background-image: url(<%= asset_path 'hero-bg.png' %>)">

  <div class="container sign-up-form mt-4 mb-3">

    <div class="py-4 my-4 row">

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <div class="d-none d-md-block">

        <%= image_tag "sef1.png" , style:"width:100%;"%>

        </div>


      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">

          <h2 class="col-12 text-center my-4 py-4">Informations Personnelles</h2>


          <%= form_tag url_for(societe_index_path(@user.id)), :societe => @societe, method: 'post' do %>

            <div class='row' style="display:flex;align-items:center;">


              <div class="col-lg-6 my-4">
                <div class="form-group contact-block1">
                  <%= text_field_tag 'nom', nil, placeholder: 'Nom du dirigeant', class:"form-control icon-user"  %>
                </div>
              </div>



              <div class="col-lg-6 my-4">
                <div class="form-group">
                  <%= text_field_tag 'prenom', nil, placeholder: 'Prénom du dirigeant', class:"form-control icon-user"  %>
                </div>
              </div>

              <div class="col-lg-12 ">
                <div class="form-group">
                  <%= text_field_tag 'telephone', nil, placeholder: 'Numéro de téléphone', class:"form-control icon-phone"%>
                </div>
              </div>


              <div class="col-lg-12 my-4">
                <div class="form-group contact-block1">
                  <%= text_field_tag 'forme_sociale', nil, placeholder: 'Forme Sociale', class:"form-control icon-file"  %>
                </div>
              </div>



              <div class="col-lg-12 ">
                <div class="form-group">
                  <%= text_field_tag 'denomination_sociale', nil, placeholder: 'Dénomination Sociale', class:"form-control icon-file"  %>
                </div>
              </div>





              <div class="col-lg-12 mt-4">
                <%= submit_tag "    Terminer la simulation    ", class: "btn-get-started scrollto", style:"border-radius:20px;" %>
                <%end%>
              </div>

              <div class="col-lg-12 mt-4 pt-4">
                <span style="font-size:12px;">Etape 4/4</span>
              </div>


        </div>



        </div>

        </div>

      </div>

    </div>
