
<div class="registration-form pt-4 pb-4 hero-form" style="background-image: url(<%= asset_path 'hero-bg.png' %>)">

  <div class="container sign-up-form mt-4 pt-4">

    <div class="py-4 my-4 row" style="justify-content:space-between">

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 card mt-3" style="height:100%;">


        <div class="container title-ajouts2" style="margin-top:1.5em;">


        <h2 class="title-ajouts2" >Vos comptes bancaires </h2>

        </div>


        <div class="mx-3 my-4" style=" overflow-y: scroll; height:10em; width: auto;     scrollbar-face-color: #006400; ">


          <table style="width:100%;">
              <thead>
                  <tr>
                    <th>Nom de la banque</th>
                    <th class="text-right">Découvert autorisé</th>
                    <th class="text-right">Solde</th>
                  </tr>
              </thead>
              <tbody>
                <% @banques.each do |t| %>

                  <tr>
                      <td ><i class="fas fa-piggy-bank "></i> <%=  t.banque_name %></td>
                      <td class="text-right"><%=  t.decouvert_autorise %> €</td>
                      <td class="text-right"><%=  t.solde %> €</td>
                  </tr>


                <%end%>
              </tbody>
          </table>

      </div>
      <hr>
      <div class="container space-between pt-2" style="margin-bottom:7em;">

        <table style="width:100%;">
            <thead>
                <tr>
                  <th style="color:white;">Nom de la banque</th>
                  <th style="color:white;">Découvert autorisé</th>
                  <th style="color:white;">Solde</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td ><span style="font-weight:bold; "><i class="fas fa-piggy-bank "></i>  Total</span></td>
                    <td class="text-right"><%= @banques.sum("decouvert_autorise") %> €</td>
                    <td class="text-right"><%= @banques.sum("solde") %> €</td>
                </tr>

            </tbody>
        </table>


        </DIV>




      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

          <h2 class="col-12 text-center mb-4 pb-4 mt-4 title-ajouts ">Modifier le compte <%=@banqueup.banque_name%> :</h2>


          <%= form_tag url_for(action:'update'), method: "patch" do %>


            <div class='row pt-3'>

              <div class="col-lg-12 ">
                <span>Nom de la banque</span>
                <div class="form-group contact-block1">
                  <%= text_field_tag 'banque_name', @banqueup.banque_name,  class:"form-control icon-file" %>
                </div>
              </div>

              <div class="col-lg-12 my-4">
                <div class="form-group">
                  <span>Découvert autorisé</span>
                  <%= text_field_tag 'decouvert_autorise', @banqueup.decouvert_autorise,  class:"form-control icon-euro" %>
                </div>
              </div>

              <div class="col-lg-12">
                <span>Solde</span>
                <div class="form-group">
                  <%= text_field_tag 'solde', @banqueup.solde,  class:"form-control icon-euro" %>
                </div>
              </div>


              <div class="col-6 mt-4 text-right">
                <%= submit_tag "Modifier le compte", class:"btn btn-form", style:"border-radius:20px; margin:2em 0;"  %>

              <% end %>
              </div>

              <div class="col-6 mt-4" style="padding-top:2em;">
                <a href="<%= banque_path%>" class="btn-outline" data-confirm="Êtes vous sûr de vouloir supprimer votre compte  <%=@banqueup.banque_name%>?" data-method="DELETE" >Supprimer le compte</a>
              </div>



        </div>


        </div>

        </div>

      </div>

    </div>
