
<div class="registration-form pt-4 pb-4 hero-form" style="background-image: url(<%= asset_path 'hero-bg.png' %>)">

  <div class="container sign-up-form mt-4 pt-4">

    <div class="py-4 mt-4 mb-3 row" style="justify-content:space-between">

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 card mt-3" style="height:100%;">


        <% if @banques.empty? %>

        <div class="d-none d-md-block ">

          <div class="container title-ajouts2" style="margin-top:1.5em; margin-bottom:6.8em;">


          <span " >Derniers ajouts </span>

          <p class="font14 mt-4 pt-4 mb-4 pb-4"><i>Veuillez renseigner vos différents comptes bancaires l'un après l'autre. Une fois les différents comptes ajoutés, veuillez passer à l'étape suivante.</i></p>

          </div>

        </div>

        <%else%>


        <div class="container title-ajouts2" style="margin-top:1.5em; ">


        <span >Derniers ajouts </span>

        </div>


        <div class="mx-3 mt-4 pt-2" style=" overflow-y: scroll; height:10em; width: auto;     scrollbar-face-color: #006400; ">


            <table style="width:100%;">
                <thead>
                    <tr>
                      <th style="font-weight:lighter;">Nom de la banque</th>
                      <th style="font-weight:lighter;" class="text-right">Découvert autorisé</th>
                      <th style="font-weight:lighter;" class="text-right">Solde</th>
                    </tr>
                </thead>
                <tbody>
                  <% @banques.each do |t| %>

                    <tr>
                        <td ><i class="fas fa-piggy-bank pr-2" ></i> <%=  t.banque_name %></td>
                        <td class="text-right"><%=  t.decouvert_autorise %> €</td>
                        <td class="text-right"><%=  t.solde %> €</td>
                    </tr>


                  <%end%>
                </tbody>
            </table>

        </div>
        <hr>
        <div class="container space-between pt-2" style="margin-bottom:3em;">

          <table style="width:100%;">
              <thead>
                  <tr>
                    <th style="color:white;">Nom de la banque</th>
                    <th style="color:white;">Découvert autorisé</th>
                    <th style="color:white; ">Solde</th>
                  </tr>
              </thead>
              <tbody>

                  <tr>
                      <td ><span style="font-weight:bold; "><i class="fas fa-piggy-bank pr-2" ></i>  Total</span></td>
                      <td class="text-right"><%= @banques.sum("decouvert_autorise") %> €</td>
                      <td class="text-right"><%= @banques.sum("solde") %> €</td>
                  </tr>

              </tbody>
          </table>

          <div class="mt-4">

          <% flash.each do |type, msg| %>
            <div class="alert alert-info margin-top:100px; " style="z-index:1">
              <%= msg %>
            </div>
          <% end %>

          </div>



        </DIV>

        <%end%>


      </div>




      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

          <h2 class="col-12 text-left mb-4 title-ajouts">Banques</h2>


            <%= form_tag url_for(banque_index_path(@user.id)), :banque => @banque, method: 'post',class:"register-form" do %>
              <div class="row">

                <div class="col-lg-12 my-4">
                  <div class="form-group contact-block1">
                    <%= text_field_tag 'banque_name', nil, placeholder: 'Nom de la banque', class:"form-control icon-file" %>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <%= text_field_tag 'solde', nil, placeholder: 'Solde du compte',  class:"form-control icon-euro"  %>
                  </div>
                </div>


                <div class="col-lg-12 mt-3">
                  <div class="form-group">
                    <%= text_field_tag 'decouvert_autorise', nil, placeholder: 'Découvert autorisé', class:"form-control icon-euro"  %>
                  </div>
                </div>


                <div class="col-lg-3 mt-2 text-right ">
                  <%= submit_tag " Ajouter ", class: "btn-get-started scrollto", style:"border-radius:20px;" %>
                  <%end%>
                </div>

                <div class="col-lg-12 ">
                  <p style="font-size:12px;"><strong>veuillez renseigner vos différents comptes bancaires l'un après l'autre</strong>. Une fois les différents comptes ajoutés, veuillez passer à l'étape suivante. </p>
                </div>

                <div class="col-lg-12 mt-2 pt-2">
                <% if current_user.is_societe %>
                    <%= link_to 'Etape suivante', new_societe_path, class:" btn-get-started scrollto "%>
                <%else%>
                    <%= link_to 'Etape suivante', new_personne_path, class:" btn-get-started scrollto " %>
                <%end%>
                </div>

                <div class="col-lg-12 mt-4 pt-4 text-right">

                  <span style="opacity:50%; font-weight:200;">1</span>  <%= image_tag "next.jpg" , style:"width:3%; opacity:50%;", class:"mb-1"%>
                  <span style="opacity:50%; font-weight:200;">2</span>
                  <%= image_tag "next.jpg" , style:"width:3%; opacity:50%;", class:"mb-1"%>
                  <span style="color:grey; font-weight:400;">Etape 3</span>
                  <%= image_tag "next.jpg" , style:"width:3%;", class:"mb-1"%>
                  <span style="opacity:50%; font-weight:200;">4</span>

                </div>






              </div>


        </div>

        </div>

      </div>

    </div>
