
<div class="registration-form pt-4 ">

  <div class="container sign-up-form mt-4 pt-4">

    <div class="py-4 my-4 row" style="  display: flex;
      ">

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">


        <% if @banques.empty? %>

        <div class="d-none d-md-block">

        <%= image_tag "Statistics-pana.png" , style:"width:100%;"%>

        </div>

        <%else%>


        <div class="container mb-2" style="margin-top:5em; ">


        <span style="color:#ef6737; font-weight:bold;" >Derniers ajouts </span>

        </div>


        <div class="container" style=" overflow-y: scroll; height:10em; width: auto;     scrollbar-face-color: #006400; ">


            <table style="width:100%;">
                <thead>
                    <tr>
                      <th>Nom de la banque</th>
                      <th>Découvert autorisé</th>
                      <th>Solde</th>
                    </tr>
                </thead>
                <tbody>
                  <% @banques.each do |t| %>

                    <tr>
                        <td ><i class="fas fa-piggy-bank pr-2" style="color:#F39C6E; "></i> <%=  t.banque_name %></td>
                        <td class="text-left"><%=  t.decouvert_autorise %> €</td>
                        <td class="text-left"><%=  t.solde %> €</td>
                    </tr>


                  <%end%>
                </tbody>
            </table>

        </div>
        <hr>
        <div class="container space-between pt-2" style="wdth:100%;">

          <table style="width:100%;">
              <thead>
                  <tr>
                    <th style="color:white;">Nom de la banque</th>
                    <th style="color:white;">Découvert autorisé</th>
                    <th style="color:white;">Solde</th>
                  </tr>
              </thead>
              <tbody>

                  <tr>
                      <td ><span style="font-weight:bold; "><i class="fas fa-piggy-bank pr-2" style="color:#F39C6E; "></i>  Total</span></td>
                      <td class="text-left"><%= @banques.sum("decouvert_autorise") %> €</td>
                      <td class="text-left"><%= @banques.sum("solde") %> €</td>
                  </tr>

              </tbody>
          </table>

          <div class="mt-4">

          <% flash.each do |type, msg| %>
            <div class="alert alert-info margin-top:100px; " style="z-index:1">
              <%= msg %>
            </div>
          <% end %>

          </div>



        </DIV>

        <%end%>


      </div>




      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

          <h2 class="col-12 text-center mb-4 ">Banques</h2>


            <%= form_tag url_for(banque_index_path(@user.id)), :banque => @banque, method: 'post',class:"register-form" do %>
              <div class="row">

                <div class="col-lg-12 my-4">
                  <div class="form-group contact-block1">
                    <label><i class="fas fa-money-check opacity-80"></i></label>
                    <%= text_field_tag 'banque_name', nil, placeholder: 'Nom de la banque', class:"form-control",  class:"input" %>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label><i class="fas fa-euro-sign opacity-80"></i></label>
                    <%= text_field_tag 'solde', nil, placeholder: 'Solde du compte', class:"form-control", class:"input"  %>
                  </div>
                </div>


                <div class="col-lg-12 my-4">
                  <div class="form-group">
                    <label><i class="fas fa-euro-sign opacity-80"></i></label>
                    <%= text_field_tag 'decouvert_autorise', nil, placeholder: 'Découvert autorisé', class:"form-control", class:"input"  %>
                  </div>
                </div>


                <div class="col-lg-3 mt-2 text-right ">
                  <%= submit_tag " Ajouter ", class: "btn mt-2", style:"border-radius:20px;" %>
                  <%end%>
                </div>

                <div class="col-lg-12 mt-4 pt-4">
                  <p style="font-size:12px;"><strong>veuillez renseigner vos différents comptes bancaires l'un après l'autre</strong>. Une fois les différents comptes ajoutés, veuillez passer à l'étape suivante. </p>
                </div>

                <div class="col-lg-12 mt-2 pt-2">
                <% if current_user.is_societe %>
                    <%= link_to 'Etape suivante', new_societe_path, class:" btn btn-form "%>
                <%else%>
                    <%= link_to 'Etape suivante', new_personne_path, class:" btn btn-form " %>
                <%end%>
                </div>

                <div class="col-lg-12 mt-4 pt-4 text-right">
                  <span style="font-size:12px;">Etape 3/4</span>
                </div>

              </div>


        </div>

        </div>

      </div>

    </div>
