<div class="modal modal-center fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModal">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content" style=" border-radius: 20px;">
      <a class="text-right " href="#"><i class="far fa-times-circle pt-2 mr-2"></i></a>

      <div class="row text-center mx-4 my-4 py-4 px-4">

        <% if @total_actif > @total_passif.abs %>
          "zen, pas de cessation de paiement"
          <%else%>
          <p>D'après les données que vous avez saisies, votre entreprise pourrait être en situation de cessation des paiements ; contactez-nous sans attendre pour envisager les différentes options possibles</p>
        <%end%>

      Ttota actif = <%=@total_actif%><br>tot passif <%=@total_passif%>

      </div>
      <a href="#" class="btn">Close</a>

    </div>
  </div>
</div>


<div class="container" style="margin-top:6em;">


  <% if @total_actif > @total_passif.abs %>

  Si la cessation des paiements est constatée, il n’est plus possible de bénéficier :

  - Du mandat ad hoc, procédure qui consiste à solliciter l’aide d’un mandataire pour évaluer les difficultés et trouver une solution permettant d’y remédier.

  - La procédure de sauvegarde judiciaire qui est une procédure collective destinée à traiter les difficultés de l’entreprise.

  Toutefois, la cessation des paiements autorise :

  • L’ouverture d’une procédure de conciliation si elle date de moins de 45 jours. La procédure de conciliation permet la recherche d’un accord avec les principaux créanciers de l’entreprise.

  • L’ouverture d’une procédure de redressement judiciaire qui est une procédure collective destiné à permettre la continuation ou la cession de l’entreprise. Cette procédure suppose que le rétablissement de l’entreprise soit possible

  • L’ouverture d’une procédure de liquidation judiciaire qui suppose une impossibilité de redressement pour l’entreprise.

    <%else%>

    Vous sentez que la santé financière de votre entreprise se tend dangereusement mais l’état de cessation de paiement ne semble pas atteint.

    Plusieurs procédures préventives vous sont ouvertes.

    Le mandat ad hoc

    Le mandat ad hoc est l'une des deux procédures préventives (avec la conciliation) qui sont à la disposition des entreprises connaissant des difficultés de nature à compromettre la continuité de l'exploitation. Ce sont des procédures de règlement amiable des difficultés des entreprises.

    Le mandat ad hoc permet au dirigeant d'entreprise de négocier ses dettes sous l'égide d'un mandataire ad hoc désigné par le président du Tribunal de Commerce. Cette procédure est confidentielle.

    La durée de la procédure de mandat ad hoc n'est pas encadrée par la loi dans un délai fixe. Le plus souvent, le président assigne une durée renouvelable de la mission du mandataire ad hoc.

    Comme dans la conciliation, l'objectif de la procédure de mandat ad hoc est le suivant : trouver un accord entre l'entreprise et ses principaux créanciers pour lui permettre de surmonter ses difficultés, tout en prenant en compte l'intérêt des créanciers.

    En savoir plus :

    https://www.infogreffe.fr/informations-et-dossiers-entreprises/prevention.html

    Textes : articles L. 611-3 et R. 611-18 à R. 611-20 du Code de Commerce.

    La procédure de conciliation

    La conciliation est une des deux procédures préventives (avec le mandat ad hoc) qui sont à la disposition des entreprises qui connaissent des difficultés de nature à compromettre la continuité de leur exploitation. Ce sont des procédures de règlement amiable des difficultés des entreprises.

    La conciliation permet au dirigeant d'entreprise de négocier ses dettes sous l'égide d'un conciliateur désigné par le président du Tribunal de Commerce. Cette procédure est confidentielle.

    L'objectif est de trouver un accord entre l'entreprise et ses principaux créanciers pour lui permettre de surmonter ses difficultés, tout en prenant en compte l'intérêt des créanciers.

    En particulier, la conciliation permet la mise en place d'un accord (moratoire, renégociation d'emprunt, etc.) lorsque l'entreprise n'est pas en état de cessation des paiements ou ne s'y trouve pas depuis plus de 45 jours.

    L'accord peut être confidentiel : il est alors constaté par une ordonnance du président qui lui donne force exécutoire.

    L'accord peut être soumis à publicité : à la demande du chef d'entreprise, il est homologué par un jugement du tribunal à condition qu'il ne porte pas atteinte aux intérêts des créanciers non signataires.

    En savoir plus :

    https://www.infogreffe.fr/informations-et-dossiers-entreprises/prevention.html

    Textes : articles L. 611-4 à L. 611-15, R. 611-22 à R. 611-46 du Code de Commerce.

    Sauvegarde des entreprises

    La loi de sauvegarde des entreprises du 26 juillet 2005 a institué une procédure de sauvegarde pour les sociétés en difficultés mais qui ne sont pas en état de cessation des paiements. Cette procédure leur permet d'arrêter un plan, sous le contrôle du Tribunal, pour apurer leur passif afin de poursuivre l'activité et de maintenir l'emploi.

  <%end%>



<%= @user %>

<br><br><br>

<%= @passif %>

<br><br><br>






<% @banque.each do |t|%>
nom banque<%=t.banque_name%><br>
solde : <%=t.solde%><br>
decouvert autorisé : <%=t.decouvert_autorise%><br>
restant à tirer : <%=t.restant_a_tirer%><br><br>
<%end%>


SOMME SOLDE POSITIf =
<% @total_solde_positif = 0%>
<% @banque.each do |t| %>
<%if t.solde.to_i > 0 %>
<% @total_solde_positif = @total_solde_positif + t.solde.to_i %>
<%end%>
<%end%>

<%=@total_solde_positif%>


<br><br><br>

<STRONG>decouvert restant à tirer :</strong>
  <%@restant_a_tirer = current_user.banques.sum("restant_a_tirer")%>
<%= current_user.banques.sum("restant_a_tirer")%>

<br><br><br>


<% current_user.factures.each do |t|%>
  <%= t.libelle%><br>
  <%=t.facture_montant%>

<%end%>
<br><bR>
<strong>Somme factures </strong><% @total_facture =  current_user.factures.sum("facture_montant")%>
<%= @total_facture %>
<br><br>

<strong>TOTAL PASSIF </strong>:
<%= @sous_total_passif %> <bR>
Salaires : <%= @passif.salaires.to_i.abs %><br>
Charges : <%= @passif.charges.to_i.abs %><br>
Loyers <%= @passif.loyers.to_i.abs %><br>
Echeances <%= @passif.echeances.to_i.abs %><br>
Dettes fiscale<%= @passif.dette_fiscale.to_i.abs %><br>
Dette fournisseur <%= @passif.dette_fournisseur.to_i.abs %><br>

<%= link_to "show", user_passif_path(current_user, @passif.id) %>
<%= link_to "edit", edit_user_passif_path(current_user, @passif.id) %>

<br><br>


<strong>Compte banquaire debiteur non autorisé</strong><bR>
= somme solde negatif - (decouvert autorisé + restant à tirer )
<br><bR>

SOMME SOLDE NEGATIF =
<% @total_solde_negatif = 0%>
<% @banque.each do |t| %>
<%if t.solde.to_i < 0 %>
<% @total_solde_negatif = @total_solde_negatif + t.solde.to_i %>
<%end%>
<%end%>

<%=@total_solde_negatif%>
<br><br>

DECOUVERT AUTORISé =
<%@decouvert_autorise = @banque.sum("decouvert_autorise")%>
 <%=@banque.sum("decouvert_autorise")%>

<br><br>
RESTANT A TIRER = <%= @restant_a_tirer%>

<br><br><bR>
<STRONG>COMPTE BANQUAIRE DEBITEUR NON AUTORISE </strong>

  <%@compte_debiteur_non_autorise = @total_solde_negatif + @decouvert_autorise - @restant_a_tirer %>
  <%= @total_solde_negatif + @decouvert_autorise - @restant_a_tirer %>


<br><br><br><br>


<Strong> SIMULATEUR </strong>

<% @total_actif = @restant_a_tirer + @total_facture + @total_solde_positif %>
Total actif : <%=  @restant_a_tirer + @total_facture + @total_solde_positif %><br>

<% @total_passif =  @compte_debiteur_non_autorise - @sous_total_passif  %>
Total passif : <%= @compte_debiteur_non_autorise - @sous_total_passif  %>

<br><br>

<% if @total_actif > @total_passif.abs %>
  "zen, pas de cessation de paiement"
  <%else%>
  "D'après les données que vous avez saisies, votre entreprise pourrait être en situation de cessation des paiements ; contactez-nous sans attendre pour envisager les différentes options possibles". "
<%end%>

<div class="row" style="justify-content:space-around;">

  <div class="col-11">

    <%= bar_chart @banque.group(:banque_name).sum(:solde) %>

  </div>


  <div class="col-5">

    <%= bar_chart @banque.group(:banque_name).sum(:restant_a_tirer) %>


  </div>

  <div class="col-5">

    <%= pie_chart({"Salaires" => @passif.salaires.to_i, "Loyer" => @passif.loyers.to_i.abs, "Charges" => @passif.charges.to_i.abs, "Echeances" => @passif.echeances.to_i.abs, "Dette fiscale" => @passif.dette_fiscale.to_i.abs, "Dette fournisseur" => @passif.dette_fournisseur.to_i.abs}) %>

  </div>

</div>






  <script type="text/javascript">
    $(window).on('load',function(){
        $('#myModal').modal('show');
    });
</script>
