<div class="jumbotron text-center" style="display:flex; align-items:center;">

  <div class="container text-center">

    <% if @total_actif > @total_passif.abs %>


    <div class="alert alert-success alert-dismissible fade show my-4 pt-4" role="alert">
      <p style="font-size:18px; text-align:center;">Non suspicion de cessation des paiements</p>
    </div>



    <%else%>


    <div class="alert alert-danger alert-dismissible fade show my-4" role="alert">
      <p class="my-4"style="font-size:18px; text-align:center;"><strong>Suspicion de cessation des paiements</strong>.</p>
    </div>

    <%end%>

  </div>

</div>


<div class="container one-edge-shadow" style="margin-top:-8em; background-color:white; border-radius:20px; ">

  <div class=" row">


    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

      <div class="row pt-4 mt-4 pb-2 pl-3">
        <div class="col-8">
          <h4 class="">Banques</h4>
        </div>
        <div class="col-4 text-right pt-1">
          <i class="fas fa-plus-square pr-2" style="color:#2a2c39;" data-toggle="modal" data-target="#exampleModal2"></i>

        </div>
      </div>

      <div class="container mt-4" style=" overflow-y: scroll; height:6em; width: auto;  scrollbar-face-color: #006400; ">


        <table style="width:100%;">
          <thead>
            <tr>
              <th style="font-size:13px;">Nom du compte</th>
              <th style="font-size:13px;">Découvert autorisé</th>
              <th style="font-size:13px; text-align:right;">Solde</th>
            </tr>
          </thead>
          <tbody>
            <% @banques.each do |t| %>

            <tr>
              <td ><i class="fas fa-piggy-bank pr-2" style="color:#F39C6E; "></i> <a href="<%=edit_banque_path(t.id)%>"><%=  t.banque_name %></a></td>
              <td class="text-left"><%=  t.decouvert_autorise %> €</td>
              <td class="text-right"><%=  t.solde %> €</td>
            </tr>


            <%end%>
          </tbody>
        </table>

      </div>
      <div class="container space-between pt-2 pb-4 mb-4" style="wdth:100%;">

        <table style="width:100%;">
          <thead>
            <tr>
              <th style="color:white; font-size:13px;">Nom du compte</th>
              <th style="color:white; font-size:13px;">Découvert autorisé</th>
              <th style="color:white; font-size:13px; text-align:right;">Solde</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td ><span style="font-weight:bold; "><i class="fas fa-piggy-bank pr-2 pt-2" style="color:#F39C6E; "></i>  Total</span></td>
              <td class="text-left pt-2" style="font-weight:bold;"><%= @banques.sum("decouvert_autorise") %> €</td>
              <td class="text-left pt-2" style="font-weight:bold;"><%= @banques.sum("solde") %> €</td>
            </tr>

          </tbody>
        </table>


      </div>

    </div>


    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

      <div class="row pt-4 mt-4 pb-2 pl-3">
        <div class="col-8">
          <h4 class="">Factures clients</h4>
        </div>
        <div class="col-4 text-right pt-1">
          <i class="fas fa-plus-square pr-2" style="color:#2a2c39;" data-toggle="modal" data-target="#exampleModal1"></i>

        </div>
      </div>

      <div class="container mt-4" style=" overflow-y: scroll; height:6em; width: auto;  scrollbar-face-color: #006400; ">


        <table style="width:100%;">
          <thead>
            <tr>
              <th style="font-size:13px;">Libellé</th>
              <th class="text-right" style="font-size:13px;">Montant de la facture</th>
            </tr>
          </thead>
          <tbody>
            <% @factures.each do |t| %>

            <tr>
              <td >
                <i class="fas fa-file-invoice pr-2" style="color:#F39C6E;" data-toggle="modal" data-target="#exampleModal3"></i>
                <a href="<%=edit_facture_path(t.id)%>"><%=  t.libelle %></a></td>
                <td class="text-right"><%=  t.facture_montant %> €</td>
              </tr>


              <%end%>
            </tbody>
          </table>

        </div>
        <div class="container space-between pt-2 pb-4 mb-4" style="wdth:100%;">

          <table style="width:100%;">
            <thead>
              <tr>
                <th style="color:white;">libellé</th>
                <th style="color:white;">Montant de la facture</th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <td ><span style="font-weight:bold;"><i class="fas fa-file-invoice pr-2" style="color:#F39C6E;"></i>Total</span></td>
                <td class="text-right" style="font-weight:bold;"><%= @factures.sum("facture_montant") %> €</td>
              </tr>

            </tbody>
          </table>

        </div>

      </div>




      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

        <div class="row pt-4 mt-4 pb-2 pl-3">
          <div class="col-8">
            <h4 class="">Dettes Fournisseurs</h4>
          </div>
          <div class="col-4 text-right pt-1">
            <i class="fas fa-plus-square pr-2" style="color:#2a2c39;" data-toggle="modal" data-target="#exampleModal3"></i>

          </div>
        </div>

        <div class="container mt-4" style=" overflow-y: scroll; height:6em; width: auto;  scrollbar-face-color: #006400; ">


          <table style="width:100%;">
            <thead>
              <tr>
                <th style="font-size:13px;">Fournisseur</th>
                <th class="text-right" style="font-size:13px;">Montant dû</th>
              </tr>
            </thead>
            <tbody>
              <% @fournisseurs.each do |t| %>

              <tr>
                <td >
                  <i class="fas fa-file-invoice pr-2" style="color:#F39C6E;" data-toggle="modal" data-target="#exampleModal3"></i>
                  <a href="<%=edit_fournisseur_path(t.id)%>"><%=  t.nom_fournisseur %></a></td>
                  <td class="text-right"><%=  t.montant_fournisseur %> €</td>
                </tr>


                <%end%>
              </tbody>
            </table>

          </div>
          <div class="container space-between pt-2 pb-4 mb-4" style="wdth:100%;">

            <table style="width:100%;">
              <thead>
                <tr>
                  <th style="color:white;">Fournisseur</th>
                  <th style="color:white;">Montant dû</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td ><span style="font-weight:bold;"><i class="fas fa-file-invoice pr-2" style="color:#F39C6E;"></i>Total</span></td>
                  <td class="text-right" style="font-weight:bold;"><%= @fournisseurs.sum("montant_fournisseur") %> €</td>
                </tr>

              </tbody>
            </table>

          </div>

        </div>


    </div> <!-- end row -->

    <div class="row pb-4 mb-4 pt-4 services" style=" display:felx; justify-content:space-around;">


      <div class="col-2 card-passif">
        <div class="icon"><i class="fas fa-adjust" style="color: #2A2C39; opacity:50%;"></i></div>
        <span class="pl-3 pt-3"><span class="money"><%=@passif.salaires.to_i.abs%> </span><i class="fas fa-euro-sign grey"></i></span><br>
        <span class="pl-3 pb-4 grey ft-small">Salaires </span>
      </div>

      <div class="col-2 card-passif">
        <div class="icon"><i class="fas fa-adjust" style="color: #4AB7D8;opacity:50%;"></i></div>
        <span class="pl-3 pt-3"><span class="money"><%=@passif.loyers.to_i.abs%> </span><i class="fas fa-euro-sign grey"></i></span><br>
        <span class="pl-3 pb-4 grey ft-small">Loyers </span>
      </div>

      <div class="col-2 card-passif">
        <div class="icon"><i class="fas fa-adjust" style="color: #52973D;opacity:50%;"></i></div>
        <span class="pl-3 pt-3"><span class="money"><%=@passif.charges.to_i.abs%> </span><i class="fas fa-euro-sign grey"></i></span><br>
        <span class="pl-3 pb-4 grey ft-small">Charges </span>
      </div>

      <div class="col-2 card-passif">
        <div class="icon"><i class="fas fa-adjust" style="color: #ff689b;opacity:50%;"></i></div>
        <span class="pl-3 pt-3"><span class="money"><%=@passif.echeances.to_i.abs%> </span><i class="fas fa-euro-sign grey"></i></span><br>
        <span class="pl-3 pb-4 grey ft-small">Echéances </span>
      </div>

      <div class="col-2 card-passif">
        <div class="icon"><i class="fas fa-adjust" style="color: #DC7836;opacity:50%;"></i></div>
        <span class="pl-3 pt-3"><span class="money"><%=@passif.dette_fiscale.to_i.abs%> </span><i class="fas fa-euro-sign grey"></i></span><br>
        <span class="pl-3 pb-4 grey ft-small">Dettes Fiscales </span>
      </div>

      <div class="col-12 text-right mt-4">
        <a href="<%=edit_passif_path%>">Modifier les informations <i class="fas fa-edit pr-2" style="color:#F39C6E;"></i></a>
      </div>

    </div>

  </div>




  <div class="container" style="margin-top:4em;">


    <% if @total_actif > @total_passif.abs %>

    <div class="container" style="margin-bottom:10em;">


      <p style="width:70%;" class="my-4 py-4"><strong>Vous sentez que la santé financière de votre entreprise se tend dangereusement mais l’état de cessation des paiements ne semble pas atteint.</strong></p>

      <h3 class='pb-4 '>Plusieurs procédures préventives vous sont ouvertes.</h3>

      <h4 class="my-4"><i class="fas fa-check-circle pr-2" style="color:green;"></i> Le mandat ad hoc</h4>

      <p>Le mandat ad hoc est l'une des deux procédures préventives (avec la conciliation) qui sont à la disposition des entreprises connaissant des difficultés de nature à compromettre la continuité de l'exploitation. Ce sont des procédures de règlement amiable des difficultés des entreprises.</p>

      <p>Le mandat ad hoc permet au dirigeant d'entreprise de négocier ses dettes sous l'égide d'un mandataire ad hoc désigné par le président du Tribunal de Commerce. Cette procédure est confidentielle.</p>

      <p>La durée de la procédure de mandat ad hoc n'est pas encadrée par la loi dans un délai fixe. Le plus souvent, le président assigne une durée renouvelable de la mission du mandataire ad hoc.</p>

      <p>Comme dans la conciliation, l'objectif de la procédure de mandat ad hoc est le suivant : trouver un accord entre l'entreprise et ses principaux créanciers pour lui permettre de surmonter ses difficultés, tout en prenant en compte l'intérêt des créanciers.</p>

      <a class="btn-get-started" href="https://www.infogreffe.fr/informations-et-dossiers-entreprises/prevention.html" target="_blank">En savoir plus</a>


      <br><br><br>
      <span style="font-size:14px; color:grey;"><i>Textes : articles L. 611-3 et R. 611-18 à R. 611-20 du Code de Commerce.</i></span>



      <h4 class="my-4 py-4"> <i class="fas fa-check-circle pr-2" style="color:green;"></i> La procédure de conciliation</h4>

      <p>La conciliation est une des deux procédures préventives (avec le mandat ad hoc) qui sont à la disposition des entreprises qui connaissent des difficultés de nature à compromettre la continuité de leur exploitation. Ce sont des procédures de règlement amiable des difficultés des entreprises.</p>

      <p>La conciliation permet au dirigeant d'entreprise de négocier ses dettes sous l'égide d'un conciliateur désigné par le président du Tribunal de Commerce. Cette procédure est confidentielle.</p>

      <p>L'objectif est de trouver un accord entre l'entreprise et ses principaux créanciers pour lui permettre de surmonter ses difficultés, tout en prenant en compte l'intérêt des créanciers.</p>

      <p>En particulier, la conciliation permet la mise en place d'un accord (moratoire, renégociation d'emprunt, etc.) lorsque l'entreprise n'est pas en état de cessation des paiements ou ne s'y trouve pas depuis plus de 45 jours.</p>

      <p>L'accord peut être confidentiel : il est alors constaté par une ordonnance du président qui lui donne force exécutoire.</p>

      <p>L'accord peut être soumis à publicité : à la demande du chef d'entreprise, il est homologué par un jugement du tribunal à condition qu'il ne porte pas atteinte aux intérêts des créanciers non signataires.</p>

      <a class="btn-get-started" href="https://www.infogreffe.fr/informations-et-dossiers-entreprises/prevention.html" target="_blank">En savoir plus</a>



      <br><br><br>
      <span style="font-size:14px; color:grey;"><i>Textes : articles L. 611-4 à L. 611-15, R. 611-22 à R. 611-46 du Code de Commerce.</i></span>



      <h4 class="my-4 py-4"> <i class="fas fa-check-circle pr-2" style="color:green;"></i> Sauvegarde des entreprises</h4>

      <p>La loi de sauvegarde des entreprises du 26 juillet 2005 a institué une procédure de sauvegarde pour les sociétés en difficultés mais qui ne sont pas en état de cessation des paiements. Cette procédure leur permet d'arrêter un plan, sous le contrôle du Tribunal, pour apurer leur passif afin de poursuivre l'activité et de maintenir l'emploi.</p>

    </div>

    <%else%>

    <div class="container" style="margin-bottom:5em;">

      <h4 class="my-4 py-4">Si la cessation des paiements est constatée, il n’est plus possible de bénéficier :</h4>

      <ul class="pb-4" style="list-style-type: none;">
        <li class="pb-2">
          <i class="fas fa-times-circle pr-1" style="color:#F39C6E;"></i> Du <strong>mandat ad hoc</strong>, procédure qui consiste à solliciter l’aide d’un mandataire pour évaluer les difficultés et trouver une solution permettant d’y remédier.
        </li>
        <li>
          <i class="fas fa-times-circle pr-1" style="color:#F39C6E;"></i>De la <strong>procédure de sauvegarde judiciaire</strong> qui est une procédure collective destinée à traiter les difficultés de l’entreprise.
        </li>
      </ul>

      <h4 class="my-4 py-4">Toutefois, la cessation des paiements autorise :</h4>

      <ul style="list-style-type: none;">
        <li class="pb-2">
          <i class="fas fa-check-circle pr-2" style="color:green;"></i>L’<strong>ouverture d’une procédure de conciliation</strong> si elle date de moins de 45 jours. La procédure de conciliation permet la recherche d’un accord avec les principaux créanciers de l’entreprise.
        </li>
        <li class="pb-2">
          <i class="fas fa-check-circle pr-2" style="color:green;"></i>L’<strong>ouverture d’une procédure de redressement judiciaire</strong> qui est une procédure collective destinée à permettre la continuation ou la cession de l’entreprise. Cette procédure suppose que le rétablissement de l’entreprise soit possible.
        </li>
        <li class="pb-2">
          <i class="fas fa-check-circle pr-2" style="color:green;"></i>L’<strong>ouverture d’une procédure de liquidation judiciaire</strong> qui suppose une impossibilité de redressement pour l’entreprise.
        </ul>


      </div>




      <%end%>

    </div>



    <!-- ======= Cta Section ======= -->
    <section  class="jumbotron2">
      <div class="container">

        <div class="text-center text-lg-left ">
          <h3>Prenez contact avec nous dès maintenant...</h3>
          <p class="pt-4"> Nous vous proposons une <strong>solution simple</strong> afin de vous éclairer sur la situation concrète de votre entreprise à l'égard d'une <strong>éventuelle situation de cessation des paiements et de vous informer sur les solutions pouvant être mises en œuvre</strong>.</p>

        </div>

      </section><!-- End Cta Section -->


      <section>
      <div class="container ">
      <%= form_tag url_for(message_index_path(@user)), :message => @message, method: 'post',class:"register-form" do %>
        <div class="row pl-4 pr-4">

          <%if current_user.is_societe %>
          <div class="col-lg-6 my-4">
            <div class="form-group">
              <label><i class="fas fa-user opacity-80"></i></label>
              <%= text_field_tag 'Nom', nil, value: current_user.societe.nom,  class:"input"  %>
            </div>
          </div>
          <div class="col-lg-6 my-4">
            <div class="form-group">
              <label><i class="fas fa-user opacity-80"></i></label>
              <%= text_field_tag 'prenom', nil, value: current_user.societe.prenom,  class:"input"  %>
            </div>
          </div>
          <%else%>
          <div class="col-lg-6 my-4">
            <div class="form-group">
              <label><i class="fas fa-user opacity-80"></i></label>
              <%= text_field_tag 'nom', nil, value: current_user.personne.nom,  class:"input"  %>
            </div>
          </div>
          <div class="col-lg-6 my-4">
            <div class="form-group">
              <label><i class="fas fa-user opacity-80"></i></label>
              <%= text_field_tag 'prenom', nil, value: current_user.personne.prenom,  class:"input"  %>
            </div>
          </div>
          <%end%>

          <div class="col-lg-6 my-4">
            <div class="form-group contact-block1">
              <label><i class="far fa-envelope opacity-80"></i></label>
              <%= text_field_tag 'email', nil, value:current_user.email,   class:"input" %>
            </div>
          </div>

          <%if current_user.is_societe %>
          <div class="col-lg-6 my-4">
            <div class="form-group">
              <label><i class="fas fa-phone opacity-80"></i></label>
              <%= text_field_tag 'telephone', nil, value: current_user.societe.telephone,  class:"input"  %>
            </div>
          </div>
          <%else%>
          <div class="col-lg-6 my-4">
            <div class="form-group">
              <label><i class="fas fa-phone opacity-80"></i></label>
              <%= text_field_tag 'telephone', nil, value: current_user.personne.telephone,  class:"input"  %>
            </div>
          </div>
          <%end%>


          <div class="col-lg-12 my-4">
            <div class="form-group">
              <label><i class="far fa-envelope opacity-80"></i></label>
              <%= text_field_tag 'message', nil, placeholder: 'Votre message',  class:"input"  %>
            </div>
          </div>


          <div class="col-lg-3 mt-2 text-right ">
            <%= submit_tag " Envoyer ", class: "btn mt-2", style:"border-radius:20px;" %>
            <%end%>
          </div>
        </div>
        </section>



        <!-- Modal Banque -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document" style='height:100vh;'>
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter un nouveau compte bancaire :</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">


                <%= form_tag url_for(banque_index_path(current_user)), :banque => @banque, method: 'post',class:"register-form" do %>
                  <div class="row">

                    <div class="col-lg-12 my-4">
                      <div class="form-group contact-block1">
                        <label><i class="fas fa-money-check opacity-80"></i></label>
                        <%= text_field_tag 'banque_name', nil, placeholder: 'Nom de la banque', class:"input" %>
                      </div>
                    </div>

                    <div class="col-lg-12">
                      <div class="form-group">
                        <label><i class="fas fa-euro-sign opacity-80"></i></label>
                        <%= text_field_tag 'solde', nil, placeholder: 'Solde du compte',  class:"input"  %>
                      </div>
                    </div>


                    <div class="col-lg-12 my-4">
                      <div class="form-group">
                        <label><i class="fas fa-euro-sign opacity-80"></i></label>
                        <%= text_field_tag 'decouvert_autorise', nil, placeholder: 'Découvert autorisé', class:"input"  %>
                      </div>
                    </div>


                    <div class="col-lg-3 mt-2 text-right ">
                      <%= submit_tag " Ajouter ", class: "btn mt-2", style:"border-radius:20px;" %>
                      <%end%>
                    </div>


              </div>

            </div>
          </div>
        </div>

        </div>


<!-- Modal Facture -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style='height:100vh;'>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter une nouvelle facture client :</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <%= form_tag url_for(facture_index_path(current_user)), :facture => @facture, method: 'post' do %>

          <div class='row'>

            <div class="col-lg-12">
              <div class="form-group contact-block1">
                <label><i class="fas fa-file-invoice opacity-80"></i></label>
                <%= text_field_tag 'libelle', nil, placeholder: 'Libellé',  class:"input" %>
              </div>
            </div>

            <div class="col-lg-12 my-4">
              <div class="form-group">
                <label><i class="fas fa-euro-sign opacity-80"></i></label>
                <%= text_field_tag 'facture_montant', nil, placeholder: 'Montant de la facture',  class:"input" %>
              </div>
            </div>


            <div class="col-lg-3 mt-4 text-right">
              <%= submit_tag "    Ajouter    ", class: "btn ", style:"border-radius:20px;" %>
              <%end%>
            </div>


      </div>

    </div>
  </div>
</div>

</div>



<!-- Modal Fournisseur -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style='height:100vh;'>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter une nouvelle dette fournisseur:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <%= form_tag url_for(fournisseur_index_path(current_user)), :fournisseur => @fournisseur, method: 'post' do %>

          <div class='row'>

            <div class="col-lg-12">
              <div class="form-group contact-block1">
                <label><i class="fas fa-file-invoice opacity-80"></i></label>
                <%= text_field_tag 'nom_fournisseur', nil, placeholder: 'Fournisseur',  class:"input" %>
              </div>
            </div>

            <div class="col-lg-12 my-4">
              <div class="form-group">
                <label><i class="fas fa-euro-sign opacity-80"></i></label>
                <%= text_field_tag 'montant_fournisseur', nil, placeholder: 'Montant dû',  class:"input" %>
              </div>
            </div>


            <div class="col-lg-3 mt-4 text-right">
              <%= submit_tag "    Ajouter    ", class: "btn ", style:"border-radius:20px;" %>
              <%end%>
            </div>


      </div>

    </div>
  </div>
</div>

</div>
