
<div class="registration-form pt-4  pb-3">

  <div class="container sign-up-form mt-4 pt-4">

    <div class="py-4 my-4 row">

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <% if @fournisseurs.empty? %>

        <div class="d-none d-md-block ">

        <%= image_tag "Statistics-pana.png" , style:"width:80%;"%>

        </div>

        <%else%>


        <div class="container " style="margin-top:5em; ">


          <span style="color:#ef6737; font-weight:bold;" >Derniers ajouts </span>

        </div>


        <div class="container" style=" overflow-y: scroll; height:10em; width: auto;     scrollbar-face-color: #006400; ">


            <table style="width:100%;">
                <thead>
                    <tr>
                      <th>Fournisseur</th>
                      <th class="text-right">Montant dû</th>
                    </tr>
                </thead>
                <tbody>
                  <% @fournisseurs.each do |t| %>

                    <tr>
                        <td ><i class="fas fa-file-invoice pr-2" style="color:#F39C6E;"></i> <%=  t.nom_fournisseur %></td>
                        <td class="text-right"><%=  t.montant_fournisseur %> €</td>
                    </tr>


                  <%end%>
                </tbody>
            </table>

        </div>
        <hr>
        <div class="container space-between pt-2" style="wdth:100%;">

          <table style="width:100%;">
              <thead>
                  <tr>
                    <th style="color:white;">Fournisseur</th>
                    <th style="color:white;">Montant dû</th>
                  </tr>
              </thead>
              <tbody>

                  <tr>
                      <td ><span style="font-weight:bold; color:#ef6737"><i class="fas fa-file-invoice pr-2" style="color:#F39C6E;"></i>Total</span></td>
                      <td class="text-right"><%= @fournisseurs.sum("montant_fournisseur") %> €</td>
                  </tr>

              </tbody>
          </table>

          <div class="mt-4">

          <% flash.each do |type, msg| %>
            <div class="alert alert-info margin-top:100px; " style="z-index:1">
              <%= msg %>
            </div>
          <% end %>

          </div>



        </DIV>

        <%end%>



      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

          <h2 class="col-12 text-center mb-4 pb-4">Dettes Fournisseurs</h2>


          <%= form_tag url_for(fournisseur_index_path(@user.id)), :fournisseur => @fournisseur, method: 'post' do %>

            <div class='row'>

              <div class="col-lg-12">
                <div class="form-group contact-block1">
                  <label><i class="fas fa-file-invoice opacity-80"></i></label>
                  <%= text_field_tag 'nom_fournisseur', nil, placeholder: 'Nom du fournisseur',  class:"input" %>
                </div>
              </div>

              <div class="col-lg-12 my-4">
                <div class="form-group">
                  <label><i class="fas fa-euro-sign opacity-80"></i></label>
                  <%= text_field_tag 'montant_fournisseur', nil, placeholder: 'Montant dû au fournisseur',  class:"input" %>
                </div>
              </div>


              <div class="col-lg-3 mt-4 text-right">
                <%= submit_tag "    Ajouter    ", class: "btn ", style:"border-radius:20px;" %>
                <%end%>
              </div>

              <div class="col-lg-12 mt-4 pt-4">
                <p style="font-size:12px;">Veuillez mentionner <strong>les fournisseurs clients</strong>, correspondant à des prestations ou livraisons effectuées, non encore payées et mobilisables à court terme (c'est à dire, qui seront payées prochainement).
                <br>
                <strong>Ajoutez-les pour leur montant global ou l'une après l'autre</strong>. Une fois terminé, passez à l'étape suivante</p>
              </div>

              <div class="col-lg-12 mt-4 pt-2">
                <%= link_to "Etape suivante", new_banque_path, class:"btn btn-form" %>
              </div>

              <div class="col-lg-12 mt-4 pt-4 text-right">

                <span style="opacity:50%; font-weight:200;">1</span>  <%= image_tag "next.jpg" , style:"width:3%; opacity:50%;", class:"mb-1"%>
                <span style="color:grey; font-weight:400;">Etape 2</span>
                <%= image_tag "next.jpg" , style:"width:3%; ", class:"mb-1"%>
                <span style="opacity:50%; font-weight:200;">3</span>
                <%= image_tag "next.jpg" , style:"width:3%; opacity:50%;", class:"mb-1"%>
                <span style="opacity:50%; font-weight:200;">4</span>

              </div>


        </div>


        </div>

        </div>

      </div>

    </div>
