<!DOCTYPE html>
<html>
  <head>
    <title>SuisJeEnFaillite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



    <script src="https://kit.fontawesome.com/2f609438b2.js" crossorigin="anonymous"></script>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>




    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


    <meta content="width=device-width, initial-scale=1.0" name="viewport">





  </head>


  <!-- ======= Header ======= -->

  <!-- ======= Header ======= -->
  <header id="header" class="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="<%=root_path%>">Suis-je en<span> faillite</span>.fr</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="<%=root_path%>">Accueil</a></li>
          <li><a href="<%=root_path(anchor:"get-started")%>">Notre solution</a></li>
          <li><a href="<%=root_path(anchor:"faq")%>">F.A.Q</a></li>
          <li><a href="<%=blog_index_path%>">Blog</a></li>
          <%if user_signed_in? %>
          <li class="menu-has-children"><a href="">Mon compte</a>
            <ul>
              <li><a href="<%=user_path(current_user)%>">Ma Simulation</a></li>
              <li><%= link_to "Deconnexion", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
          <%else%>
          <li class="menu-has-children"><a href="">Mon compte</a>
            <ul>
              <li><a href="<%=new_user_session_path %>">Se Connecter</a></li>
              <li><a href="<%=new_user_registration_path %>">S'inscrire</a></li>
            </ul>
          </li>
          <%end%>
          <li><a href="<%=root_path(anchor:"contact")%>">Contactez-nous</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->




  <body>



    <%= yield %>

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

    <!-- ======= Footer ======= -->
    <footer class="footer">
      <div class="container">
        <div class="row" style="text-align:right;">

          <div class="col-md-12 col-lg-3">
            <div class="footer-logo text-left">

              <a class="navbar-brand" href="<%=root_path%>">Suis-je en faillite<span>.fr</span></a>
            </div>
          </div>


          <div class="col-sm-6 col-md-3 col-lg-4">
            <div class="list-menu">

              <h4>A Propos </h4>

              <ul class="list-unstyled">
                <li><a href="<%=root_path(anchor:"get-started")%>">Notre solution</a></li>
                <li><a href="<%=root_path(anchor:"team")%>">Qui sommes-nous ?</a></li>
              </ul>

            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="list-menu">

              <h4>Mentions Légales</h4>

              <ul class="list-unstyled">
                <li><a href="<%=conditions_generales_utilisation_path%>">Conditions générales d'utilisation</a></li>
                <li><a href="<%=politique_utilisation_donnees_path%>" class="google-plus">Politique d'utilisation des données</a></li>
              </ul>

            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="list-menu">

              <h4>Contact</h4>

              <ul class="list-unstyled">
                <li><a href="<%=root_path(anchor:"contact")%>">Nous contacter</a></li>
                <li><a href="<%=root_path%>">FB    LKN </a></li>
              </ul>

            </div>
          </div>

        </div>
      </div>

      <div class="copyrights">
        <div class="container">
          <p>&copy; Copyrights SuisJeEnFaillite.fr . Tous droits réservés.</p>
        </div>
      </div>

    </footer><!-- End  Footer -->



      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>

  </body>

  <script>

     $(function() {
        $(".vignets").addClass("load");
    });


    var TxtRotate = function(el, toRotate, period) {
      this.toRotate = toRotate;
      this.el = el;
      this.loopNum = 0;
      this.period = parseInt(period, 10) || 2000;
      this.txt = '';
      this.tick();
      this.isDeleting = false;
    };

    TxtRotate.prototype.tick = function() {
      var i = this.loopNum % this.toRotate.length;
      var fullTxt = this.toRotate[i];

      if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
      } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
      }

      this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

      var that = this;
      var delta = 300 - Math.random() * 100;

      if (this.isDeleting) { delta /= 2; }

      if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
      } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
      }

      setTimeout(function() {
        that.tick();
      }, delta);
    };

    window.onload = function() {
      var elements = document.getElementsByClassName('txt-rotate');
      for (var i=0; i<elements.length; i++) {
        var toRotate = elements[i].getAttribute('data-rotate');
        var period = elements[i].getAttribute('data-period');
        if (toRotate) {
          new TxtRotate(elements[i], JSON.parse(toRotate), period);
        }
      }
      // INJECT CSS
      var css = document.createElement("style");
      css.type = "text/css";
      css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
      document.body.appendChild(css);
    };

</script>


</html>
