<!DOCTYPE html>
<html>
  <head>
    <title>SuisJeEnFaillite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



    <script src="https://kit.fontawesome.com/2f609438b2.js" crossorigin="anonymous"></script>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>






    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


    <meta content="width=device-width, initial-scale=1.0" name="viewport">


  </head>


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="<%=root_path%>">Suis-je en faillite</h1> <span>.com</span></a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>


      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class=""><a href="<%=root_path%>">Accueil</a></li>
          <li><a href="<%=root_path(anchor:"cta")%>">Comment ça marche ?</a></li>
          <%if user_signed_in? %>
          <li class="drop-down"><a class="btn-get-started">Mon compte <i class="pl-2 fas fa-angle-down"></i></a >
            <ul>
              <li><a href="<%=user_path(current_user)%>">Ma simulation</a></li>
              <li><%= link_to "Deconnexion", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
          <%else%>
          <li class="drop-down"><a class="btn-get-started">S'inscrire / Se connecter</a>
            <ul>
              <li><a href="<%=new_user_session_path %>">Se connecter</a></li>
              <li><a href="<%=new_user_registration_path%>">S'inscrire</a></li>
            </ul>
          </li>
          <%end%>
          <li><a href="<%=root_path(anchor:"contact")%>"class="btn-outline">Contactez-nous</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->



  <body>
    <%= yield %>




      <!-- ======= Footer ======= -->
      <footer id="footer">
        <div class="container">


            <h1 style="color:white;" class="text-light footer-title"><a href="<%=root_path%>">Suis-je en faillite<span class="pl-2"style="font-size:12px;color:#ef6603;">.com</span></a></h1>

          <div class="copyright mt-4 pt-4">
            <div class="social-links">
              <a href="#" class="white"><i>mentions légales</i></a>
              <span class="px-2"style="font-size:12px;color:#ef6603;"> | </span>
              <a href="#" class="twitter"><i>conditions d'utilisation</i></a>
              <span class="px-2"style="font-size:12px;color:#ef6603;"> | </span>
              <a href="#" class="twitter"><i>données personnelles</i></a>
              <span class="px-2"style="font-size:12px;color:#ef6603;"> | </span>
              <a href="#" class="google-plus"><i>politique de confidentialité</i></a>
            </div>
          </div>

        </div>
      </footer><!-- End Footer -->

      <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>


  </body>
</html>
